[2015-02-07 17:26] Shrey-Shah opened #48 "A small error in instructions given"
The Building guidelines on the page state that use
git clone https://github.com/edx/edx-mobile-android

But actually link to the repo is https://github.com/edx/edx-app-android
So you should use
git clone https://github.com/edx/edx-app-android

Thanks,
Shrey

[2015-02-09 13:50] aleffert commented on #48
Thanks! This should now be fixed.

[2015-02-09 13:50] #48 closed

[2015-05-30 05:05] renatoch opened #243 "Download location?"
Where does the edx app download videos to?
Since the app doesn't allow video speed changes, I'd like to use vlc to play the videos, but I can't find the files.

[2015-07-14 19:53] tungwaiyip opened #298 "How can I resume a failed download?"

[2015-07-14 22:55] aleffert commented on #298
Hi @tungwaiyip. We prefer to keep our github issues for code changes and discussion and general questions about using the app should go to our support team (mobile-support@edx.org).

[2015-07-14 23:02] #298 closed

[2015-07-14 23:04] aleffert commented on #243
Hi @renatoch. That's not a use case we really support, though you should be able to find it in the code. We definitely have plans to improve the video player to support speed changes, but I don't think there's a timeline for it right now.

[2015-07-14 23:05] #243 closed

[2015-12-01 13:11] Daredevilrg33 opened #458 "How to integrate Find Courses Module in Android ?"
Hi ,

I am new to openedx and is trying to integrate the Find Courses module. At Android end, it seems link the custom web view is opened for FindCoursesActivity with the url which is from the config file with the Tag "COURSE_SEARCH_URL". Can you tell me the url that i need to pass in the following Tag value
or if i had to create a native Find Courses Module at Android end . Do we have the REST AP

[2015-12-01 14:03] BenjiLee commented on #458
Hi @Daredevilrg33! Welcome to openedX!

You are correct that the find courses feature is currently opening a webview. We do not have a REST API yet but we currently use
`COURSE_SEARCH_URL: 'https://webview.edx.org/courses?type=mobile'`
`EXTERNAL_COURSE_SEARCH_URL: 'https://www.edx.org/course-search?type=mobile'`
as the webview.

I believe CourseDetail are still in the works but I will follow up on

[2015-12-01 14:25] BenjiLee commented on #458
In the future, you can use mobile-support@edx.org for questions like these.

[2015-12-01 14:29] pauloedspinho20 opened #459 "Error:Execution failed for task ':plugins/edx-app-gradle-plugin:compileGroovy'."
When I open the edx-app-andoid folder as project on android studio I get following error:

Error:Execution failed for task ':plugins/edx-app-gradle-plugin:compileGroovy'.

Someone can help me?

[2015-12-01 14:41] BenjiLee commented on #459
What gradle version are you running?

[2015-12-01 14:48] Daredevilrg33 commented on #458
Hi Christopher,

Thanks for the details that you have shared.

But the details are of the courses of Edx only :

COURSE_SEARCH_URL: 'https://webview.edx.org/courses?type=mobile'
EXTERNAL_COURSE_SEARCH_URL: 'https://www.edx.org/course-search?type=mobile'

The above links will redirect the screens to the courses of EDX.

I have deployed the CMS and LMS on my own server. So, how can i get the
webview

[2015-12-01 14:57] aleffert commented on #458
@Daredevilrg33 the course discovery UI is currently only supported on edx.org. It depends on web pages that are not part of open edX. We are actively working on a more open edX friendly solution, which we expect to finish by the end of January.

[2015-12-01 15:02] pauloedspinho20 commented on #459
Gradle's version is 2.2.1

I've just opened the project and received this message:
Gradle 'edx-app-android' project refresh failed
Error:Execution failed for task ':plugins/edx-app-gradle-plugin:compileGroovy'.

[2015-12-01 15:02] Daredevilrg33 commented on #458
@aleffert @BenjiLee

Thanks to both of you for the instant reply over the issue. would be looking forward for more details on Edx in the future as well .

[2015-12-01 15:03] #458 closed

[2015-12-01 18:04] BenjiLee commented on #459
Try running `gradle build` from the command line and post your results here.

[2015-12-01 18:08] BenjiLee commented on #459
Try running `./gradlew build` from the commandline in where the current directory is edx-app-android

[2015-12-09 08:31] miankhalid commented on #459
@pauloedspinho20 try this workaround and see if it fixes the issue:
http://stackoverflow.com/a/32490472

[2015-12-09 14:36] aleffert commented on #459
@miankhalid is this something we should add to the README? It seems like it might be a common problem?

[2015-12-10 06:39] miankhalid commented on #459
@aleffert We can add it under a section named **Known Problems regarding Android Studio**.

I encountered this issue when I updated Android Studio and gradle to the latest version. The Android Studio's log showed this error:

`Caused by: groovy.lang.GroovyRuntimeException: Conflicting module versions. Module [groovy-all is loaded in version 2.4.4 and you are trying to load version 2.4.5`

[2015-12-11 11:52] #459 closed

[2016-01-16 00:09] BenjiLee commented on #459
https://github.com/edx/edx-app-android/pull/532 For reference.

[2016-01-31 12:55] ahmedaljazzar opened #561 "Selecting video mode in subsections with no video content returning to an empty page"
When selecting "Video only " mode for units not contain videos , the app redirects user to the sub section contains that unit but with an empty page.

Please refer to the video: https://drive.google.com/file/d/0B3oBowV9R82XaHRsZGxXd0RMWGM/view?usp=sharing

[2016-02-01 16:13] BenjiLee commented on #561
Hi @ahmedaljazzar, in this case you should be seeing this screen. Is there a stacktrace? Perhaps the text may have not been set correctly for the warning.
![screenshot_2016-02-01-11-12-20](https://cloud.githubusercontent.com/assets/7101723/12722807/a1d97b20-c8d4-11e5-890a-f4a73fd0124b.png)

[2016-02-01 16:16] ahmedaljazzar commented on #561
Hi @BenjiLee, I see this screen only when I'm on sections, but as the video shows, when I enter a section with no video units then a subsection of that with no video units too, the problem appears.

[2016-02-01 16:32] BenjiLee commented on #561
Ah, I was able to reproduce this. Nothing comes immediately to mind as to why this happens. I will file a ticket with this bug.

[2016-02-01 16:34] ahmedaljazzar commented on #561
Appreciated :)

[2016-02-01 20:22] BenjiLee commented on #561
Out of curiosity, are you able to view this JIRA ticket?
https://openedx.atlassian.net/browse/MA-2009

[2016-02-22 07:16] aegor opened #599 "invalid cookie in android app when get courses content"
Request:
[code]
This request returns 404 Not found,
But SAME request with another cookie from iOS app always return 200 OK

[2016-02-22 18:40] BenjiLee commented on #599
Hi aegor, what does the iOS request look like?

[2016-02-23 08:20] aegor commented on #599
This is temporary "solution" in VideoLocker/src/main/java/org/edx/mobile/view/CourseUnitWebViewFragment.java
to fix this bug:
[code]

[2016-02-24 08:09] aegor commented on #599
Hi BenjiLee, absolute like. I simple insert iOS cookie to this request

[2016-02-25 14:31] BenjiLee commented on #599
Just to confirm, this 404 is being returned when you are opening the mobile browser from the edX app? For example, when an assessment is not available on mobile, a "View on Web" button is shown. When tapping on that button, the mobile browser opens up and a 404 is returned from the LMS?

[2016-04-01 18:18] rameshkarthikeyan opened #653 "In Android App, Courseware API is invalid"
Hi ,

I am using Latest Code of edx In mobile (2.1.1 version).
In server side I am using cypress version of edx.

Courseware API is not working, and getting 404 response

"/api/courses/v1/blocks/?course_id={course_id}&username={username}&depth=all&requested_fields=graded%2Cformat%2Cstudent_view_multi_device&student_view_data=video&block_counts=video&nav_depth=3"

Could someone help me to sort out

[2016-04-01 18:24] BenjiLee commented on #653
What are the issues you are facing when trying to upgrade to Dogwood? The Courseware API we depend on is one of the main APIs that we using the mobile app. You could use an older version of the app, but pre-Dogwood, there are only the videos (our initial version of the app).

[2016-04-01 18:39] rameshkarthikeyan commented on #653
we haven't tried to upgrade. Let me try to upgrade.
Thank you Ben.

[2016-04-03 20:39] #653 closed

[2016-05-03 19:27] #599 closed

[2016-05-05 10:23] FDoubleman opened #688 "When I clone edx-app-android ，but my android Studio all with downLoad file."
Hi .
  When I clone edx-app-android ，but my android Studio all with  downLoad file.
![image](https://cloud.githubusercontent.com/assets/16278122/15041399/3bfa133c-12ee-11e6-8a13-52c4c7023181.png)
and download file is very slowly!

[2016-05-05 12:49] miankhalid commented on #688
This is because Android Studio is downloading all the required gradle dependencies/libraries that the project needs to work properly.

P.s. in the screenshot you posted, `assertj-android` is being downloaded from the maven repo, which is being used for unit-tests in the app.

[2016-05-05 12:53] 1zaman commented on #688
It should only download when running the unit tests though, as it's a
test-specific dependency.

On Thu, May 5, 2016 at 5:49 PM, Mi@N Kh@LiD <notifications@github.com>
wrote:

[2016-05-05 14:25] aleffert commented on #688
I don't think there's anything we can do about slow connections to maven. Closing.

[2016-05-05 14:25] #688 closed

[2016-05-06 03:02] tianshaokai opened #693 "Missing files in the master branch."
import android.support.test.runner.AndroidJUnitRunner;

import com.facebook.testing.screenshot.ScreenshotRunner;
![image](https://cloud.githubusercontent.com/assets/6706496/15063142/00f666e6-137a-11e6-970a-4dcd49e803ea.png)

[2016-05-06 07:54] miankhalid commented on #693
Can you share the errors that are showing up in the 'Messages' view ?

[2016-05-06 13:31] BenjiLee commented on #693
Additionally, what are the gradle sync errors? If gradle is not synced, these packages will show up as missing.

[2016-05-09 01:38] FDoubleman commented on #688
this is because my net connection has some issue.thanks

[2016-05-10 13:31] johjan opened #697 "Unknown error in Native Find Courses"
Hello,

I tried to use the Native Find Courses activity, but I got a **403** response. I also tried to curl `/api/courses/v1/courses/?username=staff&mobile=true&page=1` using command line with the provided _Authorization: Bearer f7a30affaa193813354137eb47c59cb3f9ac974e_, but the same thing happened. However, it works perfectly in the website. Any recommendations?

Here's the logs:
[code]

[2016-05-10 17:47] aleffert commented on #697
403 suggests there's a problem with your token. I assume you were logged in as stuff at the time? Do you know if other end points work with the token you used?

[2016-05-10 18:57] johjan commented on #697
Thanks @aleffert for your response.

I do not think that there's a problem in my token since I used it in curling enrllement API to make sure it's valid and it worked. Besides, I think it's been used in every module needed authentication within the app, but the only place I got a 403 is in the Native Find Courses module.
I logged in the server and requested it in the browser using the API link and

[2016-05-10 19:19] BenjiLee commented on #697
The description for the 403 for this particular endpoint is,
[code]

[2016-05-11 14:24] johjan commented on #697
I used the latest version of edx-platform and everything's worked fine. The problem was this feature is not supported in dogwood-rc2.

Closing now. Thanks for your fast response and consideration.

[2016-05-11 14:24] #697 closed

[2016-05-18 11:01] FDoubleman opened #711 "MyAllVideosFragment: java.lang.NullPointerException:"
hi
  when i download a course  successful, in  MyAllVideosFragment

ArrayList<EnrolledCoursesResponse> coursesList = environment.getStorage()
                        .getDownloadedCoursesWithVideoCountAndSize();

coursesList  all with is null. I don‘t konw how to fix it . this is my log ...

Forgive my English is poor.

`org.edx.mobile.view.MyAllVideosFragment: java.lang.NullPointerException: Atte

[2016-05-18 11:08] FDoubleman commented on #711
I have download the file. But don't show in MyAllVideosFragment and MyRecentVideosFragment。

[2016-05-18 11:14] FDoubleman commented on #711
I have download the course. But don't show in MyAllVideosFragment and MyRecentVideosFragment。
![Uploading 22.png…]()
![Uploading 123.png…]()

[2016-05-18 11:25] miankhalid commented on #711
Thanks for pointing it out, its currently a [known issue](https://openedx.atlassian.net/browse/MA-2375) whose fix is in-progress Ref: #707.

[2016-05-19 08:07] FDoubleman commented on #711
Thank you for your answer, hope you going well. Please help me to shut down if problem solving. Thank you very much

[2016-05-19 08:18] FDoubleman opened #713 "org.edx.mobile.module.db.impl.DbOperationBase: java.lang.IllegalArgumentException: the bind value at index 1 is null"
hi
  I'm sorry to bother again. --__--#.
i find a issue，when i use network to request some data .In my logcat have very mach err Log ：
like this ：

`05-19 16:03:26.444 21343-21343/org.edx.mobile D/org.edx.mobile.util.NetworkUtil: Wifi is connected
05-19 16:03:26.448 21343-21343/org.edx.mobile E/org.edx.mobile.module.db.impl.DbOperationBase: java.lang.IllegalArgumentException: the bind value at ind

[2016-05-19 08:25] FDoubleman commented on #713
This log is also often appear：
      org.edx.mobile D/NSD: curPkgName is not in list
Can you give me some methods to solve these problems?
      Forgive me my english is poor. thanks

![image](https://cloud.githubusercontent.com/assets/16278122/15387078/a3e7bdc4-1ddd-11e6-9634-ef44241d2377.png)

[2016-05-24 22:18] jazztpt commented on #697
I'm having the same problem.  I'm using iOS 2.3.1 and edx-platform named-release/dogwood.3.  Should I be using a newer version? Any other ideas what causes this 403 error?

[2016-05-30 07:29] ahmedaljazzar commented on #697
@jazztpt, I think you need to pull the master. The _named-release/dogwood.3_ hash is: [e8186a1](https://github.com/edx/edx-platform/commit/e8186a189fa7d62fc37e039297683154a6b98124) which is the same as _named-release/dogwood.2_ one.

[2016-05-31 15:10] #693 closed

[2016-05-31 15:10] BenjiLee commented on #711
This should be resolved on master now. @FDoubleman

[2016-06-04 09:33] FDoubleman commented on #711
thank you very mach @BenjiLee

[2016-06-04 09:34] #711 closed

[2016-06-28 22:12] beygi opened #759 "application error when using side menu if search bar is disabled in webview course finder activity"
with this config we have error:

[code]
 and when change the `SEARCH_BAR_ENABLED` to `true` problem will be solved

[2016-06-29 14:42] BenjiLee commented on #759
Hi @beygi Thanks for reporting the issue. We have a PR in the works to address this issue. Hopefully this is the same problem you are running into. https://github.com/edx/edx-app-android/pull/758

[2016-07-28 02:06] BenjiLee commented on #759
This should be resolved now!

[2016-07-28 02:06] #759 closed

[2016-08-11 01:09] ahtcfg24 opened #798 "when I completed the process of building Project, I can run it on my device, but there is a error"
Error:Unable to find module with Gradle path 'plugins/edx-app-gradle-plugin' (needed by module 'buildSrc'.)

[2016-08-15 19:28] BenjiLee commented on #713
Do you have any reproduction steps?

[2016-08-16 09:58] miankhalid commented on #713
Good catch @FDoubleman, I had been seeing those exceptions too.

Upon investigation here are the steps for reproduction:

1. Login using valid credentials.
2. Logout and you'll see the exception twice.
3. If you open up the Login Screen, the exception keeps on coming like crazy.

**Exception's reason:**
We are querying if a video is downloading using a recurring callback mechanism, which requires

[2016-09-26 15:12] firasalkafri opened #841 ""Authentication credentials were not provided.""
[code]

[2016-09-29 18:34] Ojas-Gulati opened #848 "Data on SD card"
I am prefacing my comment with the fact that I am a general consumer.

The edx videos can take up A LOT of data, so is there a way to save these to the SD card? This would mean that large videos wouldn't take up all the internal storage.

[2016-09-30 00:20] BenjiLee commented on #848
This project is in the works :) I can't give you an estimate but it is definitely on our roadmap.

[2016-09-30 17:01] Ojas-Gulati commented on #848
oh, thanks! This is enough to satisfy me. :)

[2016-10-04 22:45] JingMa87 opened #854 "Why are there not more issues?"
Hi fellow coders,

I'm new to open source and would love to contribute to Open edX for Android. However, there's only 5 issues in the issue tracker. Is this project in full development or is it new, what's the deal? Is this project beginner-friendly?

Thanks so much for your time,

Jing

[2016-10-04 23:36] BenjiLee commented on #854
@JingMa87 Our main issue tracker is in JIRA https://openedx.atlassian.net/projects/MA/

It's a bit of a mess but you can filter by Android tickets.

[2016-10-05 00:34] BenjiLee commented on #841
@firasalkafri Could we get more context?

[2016-10-05 00:35] BenjiLee commented on #798
AFAIK this has existed for a long time but we haven't run into any problems with it.

[2016-10-05 10:11] 1zaman commented on #798
Looks like #513 tried to address this.

[2016-10-05 16:47] JingMa87 commented on #854
@BenjiLee Wow that does look like a mess ahaha. 👍

[2016-10-05 17:44] BenjiLee commented on #854
Are you looking for something small to work on?

[2016-10-05 18:56] JingMa87 commented on #854
@BenjiLee That would be awesome! I've programmed desktop apps before working mostly with Swing. Not sure what you think would be doable for me. 😃

[2016-10-05 20:23] BenjiLee commented on #854
Come to the mobile-apps Slack channel at openedx.slack.com

[2016-10-05 20:23] #854 closed

[2016-10-05 23:30] JingMa87 commented on #854
I can't seem to access the slack team, I think I need an e-mail address ending in @edx.org. Correct?

[2016-10-06 07:58] ahmedaljazzar opened #856 "Cannot sign in through google+"
I am trying to get Google+ sign in working from the android app, but I ended up with a "Sign-in Error" from the app (Unknown error.  Please try again later) while the Facebook and username/email sign in works properly.

The server respond to the app's request with a 400 Bad request error: `{"error_description": "access_token is not valid", "error": "invalid_grant"}`

However, When I try to sign in

[2016-10-06 13:45] BenjiLee commented on #856
Silly question! Are you using the ProdRelease variant? We have had trouble on some of the other build flavors.

[2016-10-06 13:45] BenjiLee commented on #854
You shouldn't need an edx.org email address to access the Slack edx channel.

[2016-10-06 13:46] BenjiLee commented on #854
I found the documentation! https://open.edx.org/blog/open-edx-slack

[2016-10-06 13:54] ahmedaljazzar commented on #856
Thanks @BenjiLee, that solves the issue, It just was not obvious, sorry for that.
Closing now..

[2016-10-06 13:54] #856 closed

[2016-10-06 14:04] BenjiLee commented on #856
It's not obvious at all!

[2016-10-25 20:57] #841 closed

[2016-11-15 06:58] binlah commented on #848
very good.  thank you!! I'm waiting for this feature  too.

[2016-11-21 08:24] ahmedaljazzar opened #881 "Analytics integration"
Hello,

I'm currently working on integrating Fabric analytics in the app, and I saw that you are working on Google Firebase Integration in #879 and this is really cool. The problem is that all events are fired in each screen using segment, regardless of the integration type.

I tried to make something generic but that leaded to a huge code change (around 57 files) which I prefer not to do because

[2016-11-21 16:42] BenjiLee commented on #881
Let us hear your thoughts! We have an open ticket right now where we will actually be attacking the way analytics works on android. One of the issues with segment is that an open edx user needs to use segment in order to get analytics. We've brainstormed a couple of ways to go about this but I think we will be leaning towards making a generic analytics interface.

Here is the ticket to track progr

[2016-11-22 08:14] hazardco opened #882 "Not login in my EDX"
Hi,

I have installed an Open EDX Eucalyptus.2. I am preparing the application connection for Android and for IOS.

I have rigorously followed the steps of Github:

File edx.properties in OpenEdXMobile:

` edx.dir = '../../my_config'`

In folder my_config:

[code]
-

[code]

-

[code]

The app compiles perfectly and starts. The problem is that when I try to login, it does nothing.

In Open EDX eve

[2016-11-22 11:28] miankhalid commented on #882
Stacktrace of the exception you are seeing in logcat ?

[2016-11-22 13:33] BenjiLee commented on #882
Also, what is the location of your my_config folder?

[2016-11-22 22:00] ahmedaljazzar commented on #881
So  what I got is that [edx-platform](https://github.com/edx/edx-platform) is using SegmentIO to track its events?

Here's what I think:

Going back to the configs repo, we can see that it's all up to the developer to pick Segment and/or another service to track the events in the app, and since we have a ready implementation for Segment, we can refactor [ISegment.java](https://github.com/edx/edx-a

[2016-11-22 22:10] ahmedaljazzar commented on #881
Cool! Here's what I think:

Going back to the configs repo, we can see that it's all up to the developer to pick Segment and/or any other service to track the events in the app, and since we have a ready implementation for Segment, we can refactor [`ISegment.java`](https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/org/edx/mobile/module/analytics/ISegment.java) to be th

[2016-11-22 22:56] hazardco commented on #882
my_config_folder is at the same level that edx-app-android.

[2016-11-22 23:40] BenjiLee commented on #882
Change `edx.dir = '../../my_config'` to `edx.dir = '../my_config'` or move your config folder up one level.

[2016-11-23 13:38] BenjiLee commented on #881
@miankhalid @1zaman FYI

All that makes sense. We currently have all the checks in https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/org/edx/mobile/base/MainApplication.java but maybe they should be moved to RuntimeApplication or something. I'm sure there will be some refactoring involved.

For the PS, At edx, we use Segment to send our events to edx-platform AND googl

[2016-11-30 20:04] BenjiLee opened #889 "Crashes when navigating back from the edit profile screen"
To reproduce, go to Edit profile, then navigate back.

Stacktrace:
[code]

[2016-11-30 21:24] BenjiLee commented on #889
https://openedx.atlassian.net/browse/MA-3017

[2016-12-02 11:15] miankhalid commented on #889
Nothing's crashing @ my end.

[2016-12-19 11:52] Vinayak-Bhat commented on #856
Why does google login not work with other build flavors? Any Idea?

[2016-12-19 15:24] BenjiLee commented on #856
@Vinayak-Bhat I have not personally set it up but I think it might to do with the way the app is registered to a remote server from Google that verifies the login.

[2016-12-21 17:57] #882 closed

[2016-12-30 12:18] ahmedaljazzar commented on #881
@BenjiLee: I think we can close this as it is solved in #893. Thanks @BenjiLee and @miankhalid for helping in making this happens, and thanks @1zaman for the review. Again, sorry for not being so involved because of the time difference.

[2017-01-02 11:59] #881 closed

[2017-01-19 15:33] Alt-Acct commented on #848
Any update on this? I've got plenty of SD card space for these videos but no remaining internal storage for them :(

[2017-01-29 04:55] Vinayak-Bhat commented on #856
@BenjiLee  Thanks for the tip. I had indeed missed configuring android app credentials in google developer console.

[2017-01-30 09:52] miankhalid commented on #889
It is actually crashing when the on screen up-navigation button is pressed, but doesn't crash if the hardware back button is pressed.

[2017-02-09 16:38] mamigot opened #918 "Status on removing accounts permissions"
What is the status of switching to the new Google Sign In and being able to take out the [permissions here](https://github.com/edx/edx-app-android/blob/40106f182b3d1dd384a3cb39fabb3cfad999e348/OpenEdXMobile/AndroidManifest.xml#L23)?

[code]

Thanks!

[2017-02-14 14:46] BenjiLee commented on #889
An apk I installed always crashed on the emulator, but works fine on a physical device.

[2017-02-15 13:44] miankhalid commented on #889
What were the exact specs of that emulator ?

[2017-02-15 14:12] BenjiLee commented on #889
Nexus 5 API 23

I believe most emulators should have this developer option.

[2017-02-15 19:29] psamim opened #920 "Redistribution Legal Considerations"
Hi,

We have an Edx platform instance and have been offering courses for some time. Now we are going to modify the Edx Android app and distribute it on Play Store. Regarding this app's license and Edx trademark, would you please help us to see what legal and technical issues should we consider to avoid copyright problems?

Thanks

[2017-02-15 19:31] BenjiLee commented on #920
@marcotuts

[2017-02-15 22:16] marcotuts commented on #920
Hi @psamim - I've emailed you directly via your github account email in order to set up time to review your specific questions. For the time being I will go ahead and close this issue. Thanks for reaching out to check this!

[2017-02-15 22:50] #920 closed

[2017-02-16 01:39] miankhalid commented on #889
And what were the hardware specs that you had set for the emulator?

On Feb 15, 2017 19:12, "Christopher Lee" <notifications@github.com> wrote:

[2017-02-16 14:43] BenjiLee commented on #889
![screen shot 2017-02-16 at 9 43 00 am](https://cloud.githubusercontent.com/assets/7101723/23025543/5738c3d0-f42c-11e6-9413-3d9f9af8750e.png)
It's the default emulator for NEXUS 5

[2017-02-18 06:48] omartr opened #922 "After update the course outline in Studio, the edits are not reflected in the app"
I'm trying to change the outline for  course in Studio by Adding/removing/hiding section and subsection to the outline
but those edits cannot be shown in the app until you clear the data from the app settings

[2017-02-27 06:55] miankhalid commented on #922
Let me debug the issue and get back to you soon.

[2017-02-27 14:58] BenjiLee commented on #922
There is a 1 hour offset. https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/org/edx/mobile/course/CourseService.java#L122

[2017-02-27 15:03] BenjiLee commented on #922
That being said, this delay does not seem to be sufficient for our users. We get quite a lot of support emails regarding the outline not updating or users unable to access an exam at the hour designated.
@marcotuts

[2017-02-27 16:36] marcotuts commented on #922
What does the one hour offset enable / provide for us? I'm sure it was added  for a reason but I can't guess what it might be offhand...

[2017-02-27 18:36] BenjiLee commented on #922
iOS shows the cached outline, and then refreshes the outline in the background. This is correct and a better UX. One hour offset does not offer any benefits besides showing a cached outline which iOS has the correct implementation for.

[2017-03-03 05:38] jsgang opened #925 "Android studio 2.3 can't run"
Error:Failed to open zip file.
Gradle's dependency cache may be corrupt (this sometimes occurs after a network connection timeout.)
<a href="syncProject">Re-download dependencies and sync project (requires network)</a>
<a href="syncProject">Re-download dependencies and sync project (requires network)</a>

[2017-03-09 09:25] miankhalid commented on #925
A ticket has been created to track and look into this issue:
https://openedx.atlassian.net/browse/MA-3186

You can subscribe to the ticket above for this issue's resolution.

[2017-03-09 09:25] #925 closed

[2017-03-14 06:52] omartr opened #928 "Enable push notifications with firebase or hosted Parse"
Hello, I found out the working with Parse is the only supported method in Edx right now

How can we enable push notification with firebase or at least hosted Parse?

[2017-03-15 14:15] BenjiLee commented on #928
@omartr Short answer, no for Parse and no plans for Firebase.

Long answer is in here
https://docs.google.com/document/d/15MYZ2LAmahB82P5wkPkQOqjszfou0Qkeae3qz7STxUQ/edit

[2017-03-22 12:34] arkangel1611 opened #933 "BUILD FAILED"
When i start android studio, i get this error during build up
Error:Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'.

ANY HELP ??

[2017-03-22 12:37] arkangel1611 commented on #798
when i run android studio, during the build i get this error:
Error:Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'

ANY HELP ??

[2017-03-23 11:00] arkangel1611 commented on #798
I was able to get the answer from the closed threads but after that i started getting a different error

ERROR

Error:Execution failed for task ':OpenEdXMobile:validateReleasekeySigning'.

[2017-03-23 11:03] arkangel1611 commented on #933
I was able to get the answer from the closed threads but after that i started getting a different error

ERROR

Error:Execution failed for task ':OpenEdXMobile:validateReleasekeySigning'.

Keystore file /home/arkangel/Documents/edx-app-android/OpenEdXMobile/edx-android-release-key.keystore not found for signing config 'releasekey'.

[2017-03-23 13:18] BenjiLee commented on #933
Where is your keystore file? and where is your gradle.properties pointing to for the keystore file?

[2017-03-23 14:57] BenjiLee commented on #798
Closing this in favor of https://github.com/edx/edx-app-android/issues/933

[2017-03-23 14:57] #798 closed

[2017-04-03 10:34] miankhalid commented on #925
@jsgang I've created a PR https://github.com/edx/edx-app-android/pull/938 for migrating to AS v2.3, which is working just fine.

For now, I'm busy with some other stuff , so, will look more into it to make the Travis tests pass.

You can use the PR's patch file in any of your own branches to make it work.

[2017-04-03 10:42] miankhalid commented on #933
@arkangel1611 This PR https://github.com/edx/edx-app-android/pull/938/ solves all the problems. Feel free to check out and comment if you find any improvements.

[2017-04-14 20:49] saboori72 commented on #933
I just cloned the project and I seen below error:
`Error:Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'.`

Groovy version is set to 2.4.4 but the issue is not solved.

[2017-04-17 06:46] parth727 opened #943 "Application reject by google play"
I have developed clone of edx android.

When i uploaded to google play, They had suspended it reason being Impersonation(https://play.google.com/about/ip-deception-spam/impersonation-ip/impersonation/).

I don't know where i breach Impersonation rule.

[2017-04-17 07:13] miankhalid commented on #933
@saboori72 have you tried checking out this PR https://github.com/edx/edx-app-android/pull/938 ?

[2017-04-18 13:36] amirhesni opened #945 "sdk not found"
i just begin working with android and i clone this  project and this error shows up :
"Error:SDK location not found. Define location with sdk.dir in the local.properties file or with an ANDROID_HOME environment variable."
but when i create a new project or open my own project it works fine

[2017-04-20 12:24] miankhalid commented on #945
After importing the project in Android Studio, check Android Studio's preferences if it has the right path to your downloaded SDK.

Check this link for more info:
http://stackoverflow.com/questions/16581752/android-studio-how-to-change-android-sdk-path

[2017-04-20 12:30] miankhalid commented on #943
A clone would never be accepted on Google play.

Did you use any edX trademark resource in your app ?

[2017-04-21 09:41] ShagunParikh opened #947 "Deprecated API version"
As per the [Open Edx Plateform API ](http://edx.readthedocs.io/projects/edx-platform-api/en/latest/overview.html )document, the latest version of API is v1.0 while this project still uses v0.5 version of API which is **Deprecated**.

Hence please let me know if there is any other branch that points to latest API version v1.0?

[2017-05-01 14:19] BenjiLee commented on #947
@ShagunParikh Unforunately we have never officially released a v1. v0.5 has been the first and only version we have used for mobile. There are no hard plans on deprecating v0.5 (maybe there should be) so feel free to use this api. Some open source contributors have added backwards compatible changes but you should not expect to see any major changes.

[2017-05-01 14:22] BenjiLee commented on #848
There is a WIP https://github.com/edx/edx-app-android/pull/858

[2017-05-02 06:33] miankhalid commented on #945
Closing this issue. Feel free to open if the issue persists.

[2017-05-02 06:33] #945 closed

[2017-05-02 06:33] miankhalid commented on #943
Closing this issue. Feel free to open if the issue persists.

[2017-05-02 06:33] #943 closed

[2017-05-02 06:33] miankhalid commented on #933
Closing this issue. Feel free to open if the issue persists.

[2017-05-02 06:33] #933 closed

[2017-05-02 06:33] miankhalid commented on #928
Closing this issue. Feel free to open if the issue persists.

[2017-05-02 06:33] #928 closed

[2017-05-02 06:37] miankhalid commented on #561
Since only-video mode is no longer supported in the courseware section now, so, this issue is automagically fixed. Yay!

[2017-05-02 06:37] #561 closed

[2017-05-02 06:48] miankhalid commented on #918
Can't give you a hard and fast timeline on this, but this is definitely on our radar of things we need to revisit.

A story has been created to keep track of issues related to social logins in app:
https://openedx.atlassian.net/browse/LEARNER-634

[2017-05-02 13:01] marcridore opened #950 "Cant login /Cant create user"
Hi Team,
I am building the openedx android app,I face  issues while trying login and create new user.Below are the errors I got from android studio.Note I followed  http://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/mobile.html for implementation .Can you please help?

05-02 08:53:15.105 2493-2493/org.edx.mobile E/org.edx.mobile.util.images.ErrorUtils: java.lang.Il

[2017-05-15 15:52] JoshuaJi commented on #947
Hi @ShagunParikh , I'm currently implementing openedx android, and I run into an issue where I couldn't get user's enrolled courses through api
`{base url}/api/mobile/v0.5/users/{username}/course_enrollments`

However I can retrieve them through
 `{base url}/api/enrollment/v1/enrollment`

 Not sure what is causing this issue (backend is the same as openedx), So I'm posting it and see if you guys h

[2017-05-25 09:02] kapw001 opened #954 "Gradle Sync"
Error:Execution failed for task ':OpenEdXMobile:transformClassesWithJarMergingForProdRelease'. > com.android.build.api.transform.TransformException: java.util.zip.ZipException: duplicate entry: com/segment/analytics/Analytics$1.class

help me

[2017-05-25 10:59] miankhalid commented on #954
Use the changes in this PR and you'll be good to go https://github.com/edx/edx-app-android/pull/938.

[2017-05-25 10:59] #954 closed

[2017-06-05 08:09] brapifra opened #957 "Video is always not available on mobile"
I'm trying to play some videos with the integrated player but I can't. The app always shows the following screen:
![screenshot_2017-06-05-10-05-28-048_org edx mobile](https://cloud.githubusercontent.com/assets/17855450/26775823/dc0d8028-49d6-11e7-946a-f26348acafb3.png)

I execute "gradlew assembleDebug" to try the app with my config.

[2017-06-06 08:35] MirzaMubasharBaig commented on #957
@brapifra Which video encoding you're using?

[2017-06-06 09:44] brapifra commented on #957
@MirzaMubasharBaig I've tried H264 and Theora

[2017-06-08 11:26] KolomietsOleh commented on #957
@brapifra check video block object with what key you have in `encoded_videos` object of course model (previously there was support for `fallback`,  `mobile_high` and `mobile_high`, but recently `fallback ` was dropped from Android app it may by cause of the problem with playback)

[2017-06-12 08:11] brapifra commented on #957
Where am I supposed to look for this video block? I think I don't have any video block object. I've just upload the video in the unit with Studio

[2017-06-14 11:55] miankhalid commented on #957
@brapifra this is the exact line of code that you're looking for:
https://github.com/edx/edx-app-android/blob/0fc318a1615839d719d7423820e8787415cc7c56/OpenEdXMobile/src/main/java/org/edx/mobile/view/adapters/CourseUnitPagerAdapter.java#L63-L63

[2017-06-14 13:24] brapifra commented on #957
Thans @miankhalid
As @KolomietsOleh said the videos are encoded with fallback, that's the problem. How can I change the encoding to mobile_high or mobile_low?

[2017-06-15 05:18] raghavsatyadev opened #962 "Not able to integrate PayUMoney"
I am not able to import a module of PayUMoney SDK in EDX project, however I got successful with other simple projects.

PayUMoney Sample App: https://github.com/payu-intrepos/Android-SDK-Sample-App

- we have to integrate "sdkui" module in our project.
- gradle compilation error screenshot.

![payumoney](https://user-images.githubusercontent.com/6176423/27166410-fb1becbe-51b7-11e7-8b97-74cceb441a8

[2017-06-15 15:36] brapifra opened #963 "Courses enrolled only visible when you have staff permissions"
I can't see the courses that the default account "honor" is enrolled in unless I give staff permissions to this profile. However they are shown in the web.

[2017-07-05 09:04] farhan commented on #918
Following story has been created related to update Google Sign in mechanism, we will streamline it soon
https://openedx.atlassian.net/browse/LEARNER-1762

[2017-07-07 06:44] miankhalid commented on #962
AFAIK the culprit here seems to be the 3rd error i.e. `Failed to resolve: annotationProcessor`, cuz thats the issue I faced while integrating a library (but didn't as the requirements changed).

Currently, we are updating the project to support AS v2.3, after we are done with that I'll give this issue a go and update accordingly.

For now you can checkout the changes in this PR https://github.com/

[2017-07-07 12:20] #962 closed

[2017-07-07 12:22] raghavsatyadev commented on #962
Sorry the issue was on my side, I had contacted to the PayUMoney Support team and they told me to add in build.gradle at project level

`
allprojects {
    repositories {
        jcenter()
    }
}`

[2017-07-13 00:34] uoneway opened #969 "mobile app and Insights"
Hello.
We are using open edx mobile app and Insights.
But I understand that the actions on mobile app related with video or board are not reflected on Insights.

So is there any plan to fix it?

I am always grateful for your works.

[2017-07-17 16:00] miankhalid commented on #969
Insights ?

[2017-07-17 16:30] BenjiLee commented on #969
Insights an edX analytics tool (https://insights.edx.org/) for authors and their courses.

@marcotuts may have any answer.

[2017-07-18 04:11] marcotuts commented on #969
Mobile events should be emitted over to the data-analytics pipeline just like our web analytics events. I can confirm this tomorrow, and if so I'll mark this as closed. @uoneway - Are you referring to any specific events or just a way to view mobile specific / mobile-only event data in Insights as a dedicated view?

[2017-07-25 11:35] miankhalid opened #976 "Execution failed for task ':OpenEdXMobile:validateReleasekeySigning'."
### Problem

After upgrading Android Studio to v2.3.x and with it the various libraries, we have been encountering the following error:

### Solution

1. Change the build variant to `devDebuggable`.
<img width="286" alt="screen shot 2017-07-25 at 4 31 37 pm" src="https://user-images.githubusercontent.com/1710804/28570295-fb832546-7156-11e7-9e81-71bde39da938.png">

2. Sync project with gradle files

[2017-07-25 11:35] miankhalid commented on #976
Marking this as resolved.

[2017-07-25 11:35] #976 closed

[2017-07-26 19:53] jleong-openedx opened #978 "Support for the Peer Instruction XBlock?"
Hi,

We (at the University of British Columbia) have developed the Peer Instruction XBlock

https://github.com/ubc/ubcpi

which is integrated into the edx-platform and in use by many courses (for example, courses that are part of the [Software Development Micromasters Program](https://www.edx.org/micromasters/software-development)).

Is there support for this XBlock in the Android app? Students ac

[2017-08-01 06:46] miankhalid commented on #978
We have a mixture of native and web view based renderers for different XBlocks in our Android app and wherever they aren't applicable we give users the option to open the Course Component on Browser.

I am not really sure how the XBlock you mentioned works, so, lemme tag a relevant person who might know better.

FYI @marcotuts.

[2017-08-01 06:52] miankhalid commented on #963
Can you verify this again? now that we have enabled all the courses on mobile.

[2017-08-01 09:53] shanuvshaji opened #983 "Failed to generate Signed APK."
Error:Execution failed for task ':OpenEdXMobile:transformClassesWithJarMergingForProdRelease'.

[2017-08-02 08:31] miankhalid commented on #983
This issue is caused due Segment library's old version as compared to the gradle plugin and wrapper version.

You should update to latest master branch or rebase any of your branch to latest master to get this issue fixed.

p.s. This issue was fixed in this PR: https://github.com/edx/edx-app-android/pull/938

[2017-08-02 12:21] BenjiLee commented on #963
@brapifra You need to set the advanced setting (in studio) for mobile_available to "true".

Alternatively, you can blanket enable all courses on mobile via the django admin in the mobile api settings located {host}/admin/mobile_api/ignoremobileavailableflagconfig/

[2017-08-07 11:38] #983 closed

[2017-08-13 02:55] dpbinh commented on #947
Hi @ShagunParikh , I'm facing the same issue with @JoshuaJi. I see nothing on My Courses, and when I change the api from `{base url}/api/mobile/v0.5/users/{username}/course_enrollments ` to `{base url}/api/mobile/v1/users/{username}/course_enrollments`. It throw "404 NOT FOUND" exception.

[2017-08-14 04:05] ShagunParikh commented on #947
@JoshuaJi and @dpbinh Sorry but i am not utilizing the v0.5 version API. So No idea what could be the possible issue here. But perhaps https://github.com/edx/edx-app-android/issues/963 thread could help you.

[2017-08-23 13:48] miankhalid commented on #957
@brapifra This is something that requires edX's Studio side knowledge, which unfortunately don't have.
It might be a good idea to join our slack channel for these sort of discussions.
https://openedx.slack.com/

[2017-08-27 13:50] Matttter opened #992 "Distribute app on F-droid"
Hi, would you consider adding the app to the F-Droid store? See [here](https://f-droid.org/wiki/page/FAQ_-_App_Developers#How_do_I_get_my_app_included.3F) for how to do that. One key requirement is having no proprietary dependencies like google play services or analytics

[2017-08-28 10:21] miankhalid commented on #950
Judging from this line in the stacktrace, there seems to be an issue with how User-Agent is being constructed at your end.

Reopen if issue isn't fixed.

[2017-08-28 10:21] #950 closed

[2017-09-05 10:47] MarishkaKravchenko opened #996 "AlertDialog crush"
Hello
When I try to login without internet connection my app crush

http://prntscr.com/ghb4z6

actually I have solved this by change
import android.support.v7.app.AlertDialog
to
import android.app.AlertDialog;

but it is very weird

[2017-09-05 11:24] miankhalid commented on #996
@MarishkaKravchenko Can you share the following details:

1 - The OS you tested the app on?
2 - The branch and the exact commit you made the build from?

[2017-09-05 11:28] MarishkaKravchenko commented on #996
@miankhalid

I install last master brunch and use standard nexus_5s emulator API 25

[2017-09-05 13:25] miankhalid commented on #996
@MarishkaKravchenko It's working just fine for me on my Nexus 6P emulator running Nougat i.e. API 25

<img width="368" alt="screen shot 2017-09-05 at 6 22 51 pm" src="https://user-images.githubusercontent.com/1710804/30063204-590b6b34-9267-11e7-9f9b-0d64dfb0f5eb.png">

I made the build from `master` branch which is currently pointing to this commit 3e2d4dd5157a680d33ca52e8654e766d7a0136a2.

[2017-09-05 14:15] farhan commented on #996
@MarishkaKravchenko

You should not do this

I tried running on Nougat and its working fine as well on my side.
Make sure you are using v7:25.3.1 of support library and build tools v25.0.3.

[2017-09-05 16:39] MarishkaKravchenko commented on #996
Sorry, I've just made build on another mac mini, and its working fine.
I think this is my AndroidStudio bug, and I'll re-install it. Thank you

[2017-09-05 16:39] #996 closed

[2017-09-07 11:58] miankhalid commented on #992
That would require us first to make many of our dependencies to be pluggable in our app. Currently, we don't have any plans to do that and I can't really give a timeline as to when we'll have this planned on our roadmap.

Would be great if you or any other opensource contributor can help us with that!

Re-open if you think the answer wasn't informative enough.

[2017-09-07 11:58] #992 closed

[2017-09-08 09:58] miankhalid commented on #978
We have taken this on our official slack channel. So closing this issue here.

[2017-09-08 09:58] #978 closed

[2017-09-11 03:18] yrchen commented on #841
@firasalkafri Hi, I met the same issue on my environment, could you share any experience? Thanks.

[2017-09-16 07:17] ankushgupta1393 commented on #841
Hi I'm having the same issue. How can I resolve it?

[2017-09-16 07:23] yrchen commented on #841
@ankushgupta1393 Use other client to check the API response. Make sure the API response the correct protocol (HTTP or HTTPS) of the all URLs.

[2017-09-16 07:53] ankushgupta1393 commented on #841
@yrchen User is able to register but not able to login.

[2017-09-16 08:00] yrchen commented on #841
@ankushgupta1393 Login progress is a little bit different than register.

1. Visit https://WEBSITE.org/oauth2/access_token/ to get access token.
2. Visit https://WEBSITE.org/api/mobile/v0.5/my_user_info to get username
3. Visit https://WEBSITE.org/api/mobile/v0.5/users/USERNAME

Check the response of step 2nd. Make sure the API response the correct URL.

Correct URL:

Wrong URL:

[2017-09-16 08:06] ankushgupta1393 commented on #841
@yrchen Hey I'm getting response "Authentication credentials were not provided."  from step 2. We're using authorization header "Bearer <token>"

[2017-09-18 02:13] yrchen commented on #841
@ankushgupta1393 Could you provide more logs?

[2017-09-18 06:41] ankushgupta1393 commented on #798
How to resolve this issue?

[2017-09-18 07:54] miankhalid commented on #798
@ankushgupta1393 You can ignore it. This error won't block or affect anything related to the building/deployment of app.

[2017-09-18 07:56] ankushgupta1393 commented on #798
@miankhalid I'm also getting another exception -java.lang.IllegalArgumentException: Multiple entries with same key: supportsRtl=false and supportsRtl=true

[2017-09-18 08:00] miankhalid commented on #798
@ankushgupta1393 you can create a new issue and share all the details there for a followup.

[2017-09-26 08:17] Tonkiro commented on #841
Sorry to barge in on a closed issue. I have the same problem.
I get the wrong URL (http instead of https) in step 2.
What can I do?
(I have OAUTH_ENFORCE_SECURE set to 'false' in lms.env.json. My load balancer (ELB) handles the https certificate in AWS and then uses http to connect to the EC2 instance (ficus.2 native). Could that have something to do with it? And if so, what can I do to fix it?)

[2017-09-26 09:27] ankushgupta1393 commented on #841
Hi I fixed my issue. You need to add the following configuration directive to your httpd.conf file:

WSGIPassAuthorization On

[2017-09-26 09:55] yrchen commented on #841
@Tonkiro Check the Nginx setting. Try the following config for your LMS.

`#proxy_set_header X-Forwarded-Proto $scheme; # comment this line`
` proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto; # add this line`

[2017-09-26 10:25] Tonkiro commented on #841
@yrchen That worked for me. Thanks a million! Wow, so happy right now. :-)

[2017-09-26 10:37] miankhalid commented on #841
Great to see the community helping each other. Keep up the good work guys and thanks! 👍

[2017-10-05 05:01] jacksonej opened #1012 "edx app as a library project"
Hi,
How can i make this project into a library project

[2017-10-05 14:38] miankhalid commented on #1012
Whats your use-case? and why do you need this full fledge project to be a library project/module?

[2017-10-15 02:34] uoneway commented on #969
Oh.. sorry for late reply.
When user see a video or write a post on mobile app, Insight values related to them (like "Learner Engagement" or "Learner Activity") are not changed even after update.
(But the event on web browser are well updated)

*We use Eucalyptus ver. insights and mobile app

[2017-10-16 15:17] marcotuts commented on #969
Thanks for the report on this @uoneway. A quick check with the team internally and we believe this should be working. In case it is not I have created a JIRA ticket and will mark this android issue closed. You can provide additional details or watch the ticket here: https://openedx.atlassian.net/browse/DE-371

[2017-10-16 15:18] #969 closed

[2017-10-16 22:50] devKate commented on #1012
I am actually in the same boat as Jackson, I am working on an app to help highschool students successfully transition to college and one of the requirements is that I embed Open edX inside of my app.

I ran through the usual steps (https://developer.android.com/studio/projects/android-library.html#Convert):
- removed the `applicationId`
- applied the `com.android.library` plugin
- I also had to ch

[2017-10-18 17:52] BenjiLee commented on #1012
I may have come across the databinding issue a long time again and I remember needed to recompile my project. https://stackoverflow.com/questions/40440662/databinding-does-not-exist-how-to-solve-it

@miankhalid @farhan Any experience on librarification?

[2017-10-19 06:00] jacksonej commented on #1012
Actually we have almost  same requirement as @devKate. first time we dont have the requirement of edx project. So we fully build it as a seperate project. Now we have to include this as a module in our project

[2017-10-19 14:22] farhan commented on #1012
@BenjiLee Nops didn't get a chance to work on librarification so far.
@MirzaMubasharBaig Will not it be a good idea to create a story of that and we can do research and resolve it in that.

[2017-10-20 13:22] miankhalid commented on #1012
Same as @farhan in this case. Will have to invest some time into it.

[2017-10-23 20:26] devKate commented on #1012
I've made some progress. Because library resource ids are not constants, I had to remove all `@InjectView` and `@ContentView` annotations and replace them with calls to `findViewById`. I also had to replace a few switch statements with if/else for the same reason.

A few other changes I made were:
- updating from `org.apache.commons.lang` to `org.apache.commons.lang3`
- changing `provided` to `ann

[2017-10-31 16:00] firasalkafri commented on #957
Any updates on this issue?

[2017-10-31 19:34] BenjiLee commented on #957
`mobile_high` and `mobile_low` are default profiles set in edx-val. https://github.com/edx/edx-val/blob/c70104e906555b9897a1abea35dc101ad39d8b02/edxval/migrations/0002_data__default_profiles.py#L10

Unless you have edx-val configured, it looks like no video will be available on the mobile app with our current logic. I thought we added a configuration to play all video types. I will dig deeper and

[2017-10-31 19:49] BenjiLee commented on #1012
@marcotuts FYI

[2017-10-31 19:59] marcotuts commented on #1012
@devKate Is this the kind of work that would be ok to open a WIP pull request to get early feedback / comments on? If so we can move discussion to a PR instead of this github issue. .

[2017-11-07 23:28] devKate commented on #1012
Sorry to leave you hanging @marcotuts, PR sounds like a great idea. It sounds like requirements for this project may potentially allow installing the edx dependency as a separate apk, in which case my issue will shift from compiling openedx as a library to interfacing with the openedx apk from my main application. This would likely result in some custom code to handle authentication from the main

[2017-11-08 15:00] BenjiLee commented on #1012
@staubina FYI

[2017-11-08 15:09] staubina commented on #1012
@BenjiLee Thank you for the heads up on this.

[2017-11-09 07:24] shevious opened #1023 "Updated course contents not shown"
It seems like that edx android app does not refresh itself when course contents is added or updated from the studio (New sections, subsections for example). To force refreshing, the app is needed to be unloaded from task manager or the user enters another course and reenter the updated course. When the app is resides on memory and the user is clicking one course only, there is no way to get the up

[2017-11-09 07:39] miankhalid commented on #1023
See #922 for more info on this issue. Closing it in favor of the same issue. Re-open if you think your case is different.

[2017-11-09 07:39] #1023 closed

[2017-11-10 04:14] kmooc commented on #922
Even after 1 hour, the course contents is not updated on android.

To get updated contents after 1 hour,
 - View another course and re-enter the updated course.
 - Unload the android app from system task manager and relaunch.
 - Log-out and Log-in again

If the user stays on the single course and the app resides on the android memory, he/she never get the outline updated even after 1 hour.

[2017-11-13 10:04] miankhalid commented on #922
I've created a JIRA ticket to get this issue fixed:
https://openedx.atlassian.net/browse/LEARNER-3223

cc @marcotuts & @staubina

[2017-11-21 11:04] ankushgupta1393 commented on #962
Hi @miankhalid I updated AS to 3.0 and I'm getting following errors

![image](https://user-images.githubusercontent.com/8057755/33069223-cfe09a3c-ced9-11e7-9d04-77fa27e07ad1.png)

[2017-11-21 11:14] farhan commented on #962
Hi @ankushgupta1393 , don't update your AS to 3.0, we are only supporting 2.3.x so far, will add the notes about it in readme.
If you face any issue in 2.3.x please read the FAQs for that https://github.com/edx/edx-app-android#frequently-asked-questions

Note: Also don't update the gradle version.

[2017-11-21 11:16] ankushgupta1393 commented on #962
I've updated both AS and gradle plugin.

[2017-11-21 11:29] farhan commented on #962
:worried: Sorry for trouble, to fix for now you can download the Android Studio 2.3.3 from here:
https://developer.android.com/studio/archive.html
and can revert the gradle to '2.3.0'

[2017-11-21 11:56] ankushgupta1393 commented on #962
hey @farhan Thanks for the support. The error got resolved when I added following code in build,gradle at project level :

allprojects {
    repositories {
        jcenter()
    }
}

[2017-11-21 12:57] farhan commented on #962
@ankushgupta1393 , great, thanks for sharing that. It will help us in our updating task which we are planning ahead.
For information which gradle version are you using currently ?

[2017-11-22 09:07] ankushgupta1393 commented on #962
hey @farhan you can use Gradle version 4.1 or higher. I've updated version in distributed url to 4.3.1 - its latest gradle version. But now I'm getting following error -

Gradle sync failed: Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'.

Any idea how to solve this issue?

[2017-11-28 14:39] rizwans-cuelogic opened #1030 "Error:Unable to find module with Gradle path 'plugins/edx-app-gradle-plugin' (needed by module 'buildSrc'.) gradle sync is failing . i cant able to run app in android studio"

[2017-11-28 15:09] rizwans-cuelogic commented on #798
i am also getting error : Error:Unable to find module with Gradle path 'plugins/edx-app-gradle-plugin' (needed by module 'buildSrc'.) and i cant able to run app . Gradle sync failed
![gradlefail](https://user-images.githubusercontent.com/25197421/33326880-2b871080-d47c-11e7-9a2d-0948e994284b.png)

[2017-11-28 15:10] rizwans-cuelogic commented on #1030
![gradlefail](https://user-images.githubusercontent.com/25197421/33326941-54d206f2-d47c-11e7-9b30-534f1e55748e.png)

[2017-11-28 15:20] BenjiLee commented on #798
@rizwans-cuelogic That error shouldn't be causing any issues.

I believe we haven't added support for Android Studio 3 yet and still using Android 2.3

[2017-11-29 00:55] msegado opened #1031 ""Google" <=> "Facebook" constant typo in analytics?"
https://github.com/edx/edx-app-android/blob/c7d62c85c43b315e21d03480514c04ef771052f8/OpenEdXMobile/src/main/java/org/edx/mobile/module/analytics/Analytics.java#L415-L416

...I'm assuming that's a typo? (If not, it should probably have a comment clarifying that it's intentional)

[2017-11-29 05:45] rizwans-cuelogic commented on #798
so do i want to downgrade gradle to 2.3

[2017-11-29 06:32] miankhalid commented on #798
@rizwans-cuelogic not gradle, Android Studio's version 2.3.

[2017-11-29 07:43] miankhalid commented on #1030
Try using Android Studio 2.3 instead of Android Studio 3.0 for now.

[2017-11-29 10:07] rizwans-cuelogic commented on #798
@miankhalid is it worked on Android Studio's version 2.3.2

[2017-11-29 10:08] miankhalid commented on #798
yes

[2017-11-29 10:44] miankhalid commented on #1031
Wow! that's definitely an error.

[2017-11-29 12:32] rizwans-cuelogic commented on #798
thank you. it worked.  @miankhalid

[2017-11-29 12:33] miankhalid commented on #798
You're welcome. Great!

[2017-11-29 12:34] #1030 closed

[2017-11-30 07:47] rizwans-cuelogic opened #1032 "I am getting this Exception IllegalArgumentException:Multiple entries with same key: supportsRtl=false and supportsRtl=true"
When  i am registering (or doing anything) user with android app. user is register in devstack successfully. but it is giving me error : Unknown Error please try again. on mobile app.

[2017-11-30 13:10] farhan commented on #1031
Its fix story is on the way.
https://openedx.atlassian.net/browse/LEARNER-3396

[2017-12-04 07:21] miankhalid commented on #1032
Have you done some changes in any of the `build.gradle`files in the project?

[2017-12-04 07:55] rizwans-cuelogic commented on #1032
@miankhalid  no. i just build and run app .

[2017-12-04 08:22] miankhalid commented on #1032
Ok, share the log cat output and screenshots (if any).
Your current info provided isn't enough to judge whats the problem.

[2017-12-05 06:33] rizwans-cuelogic commented on #1032
@miankhalid
![log](https://user-images.githubusercontent.com/25197421/33593201-538351d8-d9b4-11e7-9c7b-5d6cf6e85cc4.png)
![mobile](https://user-images.githubusercontent.com/25197421/33593204-582502fe-d9b4-11e7-9c81-4a0323aeec0c.png)

[2017-12-05 07:42] miankhalid commented on #1032
I am not talking about Event Log (lets ignore that for now).

Seems like you are facing some issues with server communication through app when you are trying to register. So, you should be getting some error logs in `Android Monitor` window's `logcat` tab of your Android Studio. Check that if you can figure out the issue from there and share it here too.

[2017-12-05 07:42] miankhalid commented on #1032
Also, it would be better if you disable `Instant Run` for this project. We are better off without it.

[2017-12-13 15:04] farhan commented on #1031
Issue has been fixed now so closing the issue.
PR: https://github.com/edx/edx-app-android/pull/1033

[2017-12-13 15:04] #1031 closed

[2017-12-15 20:49] qutorial opened #1038 "Direct APK Download on EDX"
Dear app authors,

not everyone is using appstore and google services generally.

It would be very convenient to have a direct download on Edx or here.

Could you, please, be so kind and give a link to a recent stable apk?

[2017-12-18 07:28] miankhalid commented on #1038
@qutorial You can google a 3rd party website that allows you to download an APK from the PlayStore easily e.g. this site does the job really well: https://apkpure.com/

That being said, Play Services are currently required by our app. We haven't tested our app without it, so we won't be too sure if the app will work without Play Services.

[2017-12-18 08:29] farhan commented on #1038
@qutorial
We are majorly using Google play services in our code base for Email authentication, Google analytics and used in some thirdparty sdks as well. Can you please specify why you want to use code base without play services?

[2017-12-18 08:46] qutorial commented on #1038
Hi folks.

First of all, thank you very much for your response and looking into this issue at all.

This article describes the way I (as some other privacy and security conscious people) use
our Android phones, and the very broad range of permissions required by a closed-source
google play services bundle: https://molotnikov.de/securing-android#play-services

This is basically the reason not to ha

[2017-12-18 09:06] miankhalid commented on #1038
APKs. Is the one on apkpure same like you build it or modified?

I downloaded it from the said website and the size of the downloaded APK was the same as our market version. Also, worked fine when I installed it.

[2017-12-18 09:12] qutorial commented on #1038
Ok, thanks a lot for trying it our for me!
How about `sha256sum dowloaded.apk` ? (This would be a more precise check if the file is the same)

[2017-12-18 09:15] miankhalid commented on #1038
Yep, its the same for both!

[2017-12-18 09:17] qutorial commented on #1038
It works like charm on my phone without play services!
What a beautiful app!
It would be so awesome if you could keep it working that way.
Lineage OS without gapps installed is the way to test it. I am sure it
is possible to get it as a simulator for tests.

[2017-12-18 09:27] miankhalid commented on #1038
Great! Good to know that it worked for you 😃

The cases that immediately come to my mind that won't work without gapps are:

- Our [Branch.io](https://branch.io) integration.
- Signup/Signin using Google.

[2017-12-18 09:30] qutorial commented on #1038
Well, I have just used my gmail address and password for normal login (without oauth and google), and it worked fine. It would be very nice if it could stay an option.

[2017-12-18 09:32] miankhalid commented on #1038
Yeah .. social login through Google is behind a feature flag and will stay that way.

[2017-12-20 10:31] #1038 closed

[2017-12-22 07:00] vishal105 opened #1042 "Download Fail"
Not able to download large video file in android application. I get some KB file instead of full file.

[2017-12-22 08:02] farhan commented on #1042
@vishal105 , can you please let us know the details of the Course name and video, so we can see the issue at our end.

[2017-12-22 09:52] vishal105 commented on #1042
@farhan We have used our own server as backend, but android code is same. Problem here is that small size videos gets download successfully but not able to download large size video file. As some of our videos are of large size up to 1 gb or more. Seems like issue with Download manager.

[2017-12-22 10:06] farhan commented on #1042
@vishal105
We have a size limit of 1 GB on android side, please see the following code, might help you in understanding whats actually happening.

https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/org/edx/mobile/services/VideoDownloadHelper.java#L103-L113

Please make sure you are providing the right video url to download manager.

[2018-01-04 12:46] firasalkafri opened #1047 "Error:Unable to find module with Gradle path 'plugins/edx-app-gradle-plugin' (needed by module 'buildSrc'.)"
This error is still showing no matter what Android Studio version you use.

[2018-01-08 11:03] vishal105 opened #1049 "Support for AS 3.0"
This application can't build in Android Studio 3.0, Because of Groovy library.

[2018-01-12 05:18] vishal105 commented on #1042
Thanks for your response.

[2018-01-12 05:18] #1042 closed

[2018-01-23 17:59] 1tbsCyanide opened #1057 "Build Gradle failed"
I am building this project for the first time on Android Studio 2.3.3 and gradle version 2.3.0. but project building fails with the Error

[code]

<img width="1064" alt="screen shot 2018-01-23 at 11 28 28 pm" src="https://user-images.githubusercontent.com/5809146/35292033-3ebc82da-0095-11e8-856e-5056476f4909.png">

[2018-01-24 13:26] ankushgupta1393 commented on #1057
Hey @miankhalid , @farhan Can you help here in resolving the issue?

[2018-01-24 15:11] 1tbsCyanide commented on #1057
I haven't changes anything. I am using MacOS High Sierra

[2018-01-25 12:13] miankhalid commented on #1057
We've never encountered such an issue.

[2018-01-25 12:23] ankushgupta1393 commented on #1057
The error is also showing Possible solutions. But we're not able to understand what to do

[2018-01-26 07:38] miankhalid commented on #1057
@ankushgupta1393 & @1tbsCyanide I would suggest, you guys join Slack channel and share the issue there. There's a chance, if someone else in the community has also faced this issue and have a resolution for it:

Here's the link: https://openedx.slack.com

[2018-01-29 08:07] farhan commented on #1047
@firasalkafri thanks for mentioning that, i have made following PR for its fix.
It should worked.

https://github.com/edx/edx-app-android/pull/1054

[2018-01-29 09:35] farhan commented on #798
For all those who are still bugging with this issue, try following fix. It will be resolved.
https://github.com/edx/edx-app-android/pull/1054

[2018-01-29 09:35] farhan commented on #1030
For all those who are still bugging with this issue, try following fix. It will be resolved.
https://github.com/edx/edx-app-android/pull/1054

[2018-01-29 09:36] #1047 closed

[2018-01-29 10:44] farhan commented on #922
@omartr We just have done many code improvement in this PR: https://github.com/edx/edx-app-android/pull/1055.
Now we don't have any 1 hour stale time and if you want to get refreshed data, just kill the app and load particular courseware again. We have plans to implement the Pull to refresh functionality as well after that user can refresh the data any time within app.

If you want it for testing

[2018-01-29 12:45] #922 closed

[2018-01-29 12:46] miankhalid commented on #1032
Closing due to no reply from the questioner. Reopen if required.

[2018-01-29 12:46] #1032 closed

[2018-01-29 12:49] miankhalid commented on #963
Reopen if needed.

[2018-01-29 12:49] #963 closed

[2018-01-30 06:48] apelsin83 opened #1059 "App resets navigation"
In app in menu - My courses. When I select item in menu I enter into my course in a few seconds (2-3) it returns to My courses menu. It doesn't matter what I do inside course (reading, watching video). Redmi 4. Android 6.0.1.

[2018-01-30 07:10] miankhalid commented on #1059
It's just a wild guess, but we've experienced this issue when there's a problem with the implementation of Course Dates on the server.

### How can you test it at your end?

Follow these steps:
- Go to your `Config.java` file.
- Replace the whole `isCourseDatesEnabled()` function with this function:
[code]
- Run the app.

[2018-01-30 17:48] BenjiLee commented on #1059
@apelsin83 Are you running the app from the Google Play store? There was an issue similar to what you were describing but only on the app from the Google Play store.

[2018-01-31 05:45] apelsin83 commented on #1059
Yes, the app from Google play.

[2018-01-31 05:56] apelsin83 commented on #1059
Issue resolved.

[2018-01-31 05:56] #1059 closed

[2018-02-04 09:33] blackherohd opened #1062 "Gradle sync failed: Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'."
I have a problem with edx app master.
Please help.
![screenshot 31](https://user-images.githubusercontent.com/29324851/35776125-2fa48e5e-09c9-11e8-857b-645056512254.png)

[2018-02-04 14:45] farhan commented on #1062
@blackherohd Which android studio version and SDK tools version are you using ?

[2018-02-05 02:59] blackherohd commented on #1062
@farhan AndroidStudio 3.0.1 and SDK 26.1.1

[2018-02-05 13:52] farhan commented on #1062
We haven't tested our project on Android Studio 3.0.x yet,
currently we are running our project on Android Studio 2.3.3 with SDK tools 26.0.2. It will for work for you. Sorry for inconvenience, we shall make it supportable on latest Android Studio and SDK soon and shall notify here.

Thanks for reporting.

[2018-02-05 14:15] blackherohd commented on #1062
Thank for helpful

On Mon, Feb 5, 2018 at 8:52 PM Muhammad Farhan Khan <
notifications@github.com> wrote:

--
Best Regards, ******************************************** Nguyen Thang Hai
An Email: blackherohd@gmail.com Facebook: fb.com/blackherohd Mobile: +(84)
1694 291 984 ********************************************

[2018-02-06 07:45] miankhalid commented on #1049
We haven't yet tested the project on AS v3.0, but if its the groovy library that's causing the issues, you can try updating its version in the `buildSrc/build.gradle` file.

or search for this line in the project:
`compile 'org.codehaus.groovy:groovy-all:2.4.7'`

[2018-02-06 07:46] miankhalid commented on #1062
@blackherohd refer to this issue #1049 for further updates.

[2018-02-08 06:41] vishal105 opened #1064 "Course data not update in android"
Hello,

when I change some course data from server It will not change in mobile application.
even after 2 hour it will not changed.

[2018-02-08 07:02] farhan commented on #1064
@vishal105, restart the app by killing it from task panel. You should see the updated course data after 1 hour delay.

We have revamped our course outline caching mechanism, you can follow it on this issue: https://github.com/edx/edx-app-android/issues/922#issuecomment-361206996

[2018-02-08 07:07] vishal105 commented on #1064
If I want to update course data in android application.What should I do?

[2018-02-08 07:22] farhan commented on #1064
Use the latest code base from master branch including this PR: https://github.com/edx/edx-app-android/pull/1055
Change the course data from studio, after changing data restart the app by killing from task panel and in follow up you can see the updated course data.
You can read the details of caching in relevant PR in details.

[2018-02-19 15:07] farhan commented on #1062
We are currently having issues on running our project on latest android sdk-tools, this is one of them, we have plans to fix the issues soon; follow up Jira story is: https://openedx.atlassian.net/browse/LEARNER-4238

**For information:** Our code repository is not having any issues by running it on latest Android Studio i.e. v3.0.1. for more details check: https://openedx.atlassian.net/browse/LEA

[2018-02-19 15:10] farhan commented on #1049
Our code repository is not having any issues by running it on latest Android Studio i.e. v3.0.1. for more details check: https://openedx.atlassian.net/browse/LEARNER-4224

We are currently having issues on running our project on latest android sdk-tools for that you can follow up: https://openedx.atlassian.net/browse/LEARNER-4238

[2018-02-19 15:10] #1049 closed

[2018-03-11 12:29] shenzhen2017 commented on #962
same problem,Failed to resolve: annotationProcessor
thanks to @ankushgupta1393

[2018-03-12 06:18] Nandhinikumar5 opened #1075 "Wrong error pointed in ErrorUtils"
I Checked the code In ErrorUtils, You can see the point in below code. If network connected wrong error messages were pointed here.

[2018-03-12 08:05] miankhalid commented on #1075
This issue got replied on and resultantly got resolved on our official Slack channel (https://openedx.slack.com).

### Reference:
<img width="464" alt="screen shot 2018-03-12 at 12 59 56 pm" src="https://user-images.githubusercontent.com/1710804/37271625-6f1adf78-25f5-11e8-8119-dba0e00e4044.png">

### Link to the solution on Slack:
https://openedx.slack.com/archives/C0F0NA2F5/p1520838010000115

##

[2018-03-12 08:05] #1075 closed

[2018-03-15 05:54] vishal105 opened #1077 "Gradle not nuild"
HI
I got this error during build a gradle in studio 2.3.3

Error:(234, 1) A problem occurred evaluating project ':OpenEdXMobile'. > No signature of method: java.io.File.plus() is applicable for argument types: (java.lang.String) values: [ not found. Skipping.] Possible solutions: list(), list(java.io.FilenameFilter), is(java.lang.Object), split(groovy.lang.Closure), use([Ljava.lang.Object;), wait(

[2018-03-15 09:04] farhan commented on #1077
@vishal105 can you please share more details
What build-tools, gradle version are you using currently.
Which release version code repo are you using or did you just checkout from master ?

[2018-03-15 10:55] vishal105 commented on #1077
I got issue and it resolve.
Thanks for your quick reply.

[2018-03-19 21:31] #1077 closed

[2018-04-14 16:28] jackflyer commented on #1062
Some more detail:
Error:Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'.

When using
Gradle version : 3.3 and Android Plugin Version 2.3.0, Android Studio 3.0
Build Successful after Sync.
but when tried to Build Apk it shows Error.

Gradle tasks [:OpenEdXMobile:assembleDevDebug]
Error:Failed to complete Gradle execution.
Cause:
The version of Gradle you are using

[2018-04-21 21:23] AndroidDeveloperLB opened #1093 "can't import"
I get this:

FAILURE: Build failed with an exception.

* What went wrong:
Execution failed for task ':buildSrc:plugins/edx-app-gradle-plugin:compileGroovy'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at https://help.gradle.org

Deprecated Gradle features were used in t

[2018-04-22 18:15] devKate opened #1094 "Failed sign in caused by redirect from `/api/mobile/v0.5/my_user_info`"
I'm trying to authenticate against my local devstack and have gone through the process of enabling the mobile rest API and configuring OAuth clients. The app's config file has been updated with the correct `OAUTH_CLIENT_ID`, and as far as I can tell the initial authentication is working because I'm getting a bearer token back.

After the user authenticates, the app is making a request to `/api/mob

[2018-04-23 06:40] miankhalid commented on #1064
This issue was fixed as part of this ticket: https://openedx.atlassian.net/browse/LEARNER-3841.

Re-open if you still face this issue :)

[2018-04-23 06:40] #1064 closed

[2018-04-23 06:48] miankhalid commented on #1093
Please have a look at this issue's comment: https://github.com/edx/edx-app-android/issues/1062#issuecomment-366720223 for a detailed explanation on this issue and its possible fix.

[2018-04-23 06:48] #1093 closed

[2018-04-23 06:52] miankhalid commented on #1057
Please have a look at this issue's comment: https://github.com/edx/edx-app-android/issues/1062#issuecomment-366720223, it might help you guys in your case as well.

If it doesn't, re-open the issue and provide more details on the issue :)

[2018-04-23 06:52] #1057 closed

[2018-04-23 06:56] miankhalid commented on #957
Please have a look at this PR #1061, which should solve the aforementioned issue. Re-open if necessary :)

[2018-04-23 06:56] #957 closed

[2018-04-23 07:56] miankhalid commented on #1094
Yes, the current call `/api/mobile/v0.5/my_user_info` redirects to `/api/mobile/v0.5/users/{username}` on our server as well. Which is working fine both on mobile and web.

Can you check the following case on your browser/web and share the results?

1. Open your sandbox in a browser.
2. Login with valid credentials.
3. Run the API on the same browser: `{API_HOST_URL}/api/mobile/v0.5/my_user_info`.

[2018-04-23 16:20] devKate commented on #1094
Thanks for the reply! Following the above steps, I access
`http://localhost:18000/api/mobile/v0.5/my_user_info`
and am redirected successfully to
`http://localhost:18000/api/mobile/v0.5/users/katien`
with the following response
`{"id":11,"username":"katien","email":"katien@example.com","name":null,"course_enrollments":"http://localhost:18000/api/mobile/v0.5/users/katien/course_enrollments/"}`
It s

[2018-04-23 17:06] miankhalid commented on #1094
Since you are testing it on localhost i.e. a personal machine, try hitting
the API from another computer or mobile web.

Maybe the APIs aren't accessible remotely.

Sent from Mobile

On Mon, Apr 23, 2018, 9:20 PM Katie Noland <notifications@github.com> wrote:

[2018-04-24 06:40] AndroidDeveloperLB commented on #1093
So it's a known issue?
I don't understand the fix though. What to do in the project? Not update anything?

[2018-04-24 07:01] miankhalid commented on #1093
Yes.

Yep! No need to update anything related to:

- Build & SDK Tools
- Gradle & Groovy versions

I am currently using **Android Studio 3.1** with the default settings of the project i.e.

[code]

As mentioned in this comment:
https://openedx.atlassian.net/browse/LEARNER-4224?focusedCommentId=307266&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-307266

[2018-04-24 17:05] devKate commented on #1094
Darn, I'll let you know if I come up with anything. Thanks!

[2018-04-24 17:05] #1094 closed

[2018-04-25 21:05] AndroidDeveloperLB commented on #1093
Seems to work fine. Please fix it in the future..

[2018-04-26 06:15] miankhalid commented on #1093
Yep, will be fixing it soon.

For now, we have an OSPR (#1090) that might solve this issue too!

[2018-04-26 06:39] AndroidDeveloperLB commented on #1093
Now that I tried the sample app, I don't get what it is... :)
Can you please update the repo page, with explanation of what it is?

[2018-04-26 06:40] miankhalid commented on #1093
Which sample app are you talking about?

[2018-04-26 07:05] AndroidDeveloperLB commented on #1093
The only one you have here:
https://github.com/edx/edx-app-android

![image](https://user-images.githubusercontent.com/5357526/39290738-46d6f8d2-4939-11e8-9f99-dfc119245603.png)

[2018-04-26 07:28] miankhalid commented on #1093
Our [README](https://github.com/edx/edx-app-android/blob/master/README.md) file includes all the details that need to be setup for the app to work.

[2018-04-26 07:43] AndroidDeveloperLB commented on #1093
That's what I'm talking about. It doesn't tell what this is. It just says this:

"This is the source code for the edX mobile Android app. It is changing rapidly and its structure should not be relied upon. See http://code.edx.org for other parts of the edX code base.
"
What does it do?

[2018-04-26 07:54] miankhalid commented on #1093
Yep! Our own app's link is:
https://play.google.com/store/apps/details?id=org.edx.mobile&hl=en

We haven't added the link cuz we don't need to advertise our app through our open source project. This is not the purpose of our repo.

Whoever knows edX and Open edX initiatives, knows what our repos' purpose is. As any other open source projects we aim to help and collaborate with the Open edX communi

[2018-04-26 08:03] AndroidDeveloperLB commented on #1093
I don't see any reason not to tell what the repository is about, and provide a link to the real app.
Even the opposite. It should always be this way: for anyone who goes to this repository, he should be able to see the output app of it.
And the opposite. The Play Store can also show that it's open sourced, and provide the link to here. This might be less important, because most users don't care ab

[2018-04-26 08:05] miankhalid commented on #1093
Hmm, sounds legit!

We'll discuss it in our internal meetings and update accordingly, thanks for your feedback.

[2018-04-26 08:09] AndroidDeveloperLB commented on #1093
Many repositories out there show the app on the play store. It allows you to easily test the app, and might give you more reason to help there. It can also show how well the app was made, easily.

[2018-04-30 14:30] mgambati commented on #1062
@jackflyer Checkout #1090. I fixed this in the PR.

[2018-05-31 08:39] vishal105 opened #1111 "Playstore gives warning for target API 26"
Please add runtime permission because now playstore gives warning if target api is below 26.
please make edx project studio 3.1 supported I done that in one project but how can I marge that project with this branch please guide me.

[2018-05-31 09:22] miankhalid commented on #1111
We'll be doing that soon. Here's the ticket to track it:
https://openedx.atlassian.net/browse/LEARNER-4236

We are running the project on AS 3.1 with no problem. You just need to keep the same build tools and platform-sdk as the project by-default has (no need to update).

p.s. you can have a look at this OSPR though: https://github.com/edx/edx-app-android/pull/1090

[2018-08-07 16:52] farhan commented on #1062
This issue occurs after updating gradle, in following PR gradle and other relevant libraries/tools has been updated.
https://github.com/edx/edx-app-android/pull/1125

Closing this issue because it has been fixed now in above PR.

[2018-08-07 16:52] #1062 closed

[2018-08-11 10:53] sh-zam opened #1132 "Pages download way too much data than needed"
When clicking on the text section in course or any section with text the page, it takes way too much time to load 4-5 seconds. Even if the page has only few KBs of text in it. I tried recording and found that a page less than 100KB downloaded content of about 5MB.

![edxtest](https://user-images.githubusercontent.com/32485569/43991063-6ed11e56-9d82-11e8-9b89-c0ff8b22e90f.jpeg)

^ this page consume

[2018-08-11 12:10] sh-zam commented on #1132
I think it might be because your [`AuthenticatedWebView`](https://github.com/edx/edx-app-android/blob/3c8f6e92764e2ad3883348e2a70b6aab73e49acb/OpenEdXMobile/src/main/java/org/edx/mobile/view/custom/AuthenticatedWebView.java#L51) is authenticating after every single page request, as written in the class documentation.

[2018-08-13 10:26] vishal105 opened #1133 "Application Crashed"
Device; MI A1
Os: oreo 8.1.0
API :27

Application crash in profile take photo click.

and download video also not working.

Some permission issue.

[2018-08-13 14:28] TPiotr commented on #856
I know this is pretty old issue but maybe it will help someone. It't not working on debug build because app then is using default android keystore when you change to prodRelease app starts to use your custom keystore (its path is defined in .gradle files in project). This has impact because when configuring google or facebook logging options on their websites (google api console or facebook develo

[2018-08-13 16:08] TPiotr commented on #1132
Agree, sometimes you have to wait quite a while to just load checkbox. But question is if this could be changed to something better.

[2018-08-15 07:09] miankhalid commented on #1133
Did you update the `targetSdkVersion` in your project?

[2018-08-15 07:14] miankhalid commented on #1132
This is something that we know and is on our radar to be taken care of in the near future.
p.s. Don't have a strict timeline as to when we'll be looking at it, but its there in our upcoming projects.

Thanks for flagging the issue though! It'll be great if you guys can propose a solution may be through an open source pull request. We'll be more than happy to review it and get the job done!

[2018-08-16 08:45] vishal105 commented on #1133
Nio I just checkout from github and run application.

[2018-08-16 10:32] miankhalid commented on #1133
Can you share the exact stack trace that you see in logcat when the crash happens?

[2018-08-16 11:16] vishal105 commented on #1133
yes sure please check below

08-16 16:45:31.708 9774-9774/org.edx.mobile D/AndroidRuntime: Shutting down VM
08-16 16:45:31.723 9774-9774/org.edx.mobile E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.edx.mobile, PID: 9774
    android.os.FileUriExposedException: file:///storage/emulated/0/Android/data/org.edx.mobile/files/Pictures/JPEG_20180816_164531_4517812153723835756.jpg exposed beyond

[2018-08-17 10:13] miankhalid commented on #856
@TPiotr yep that's the thing each white label project should update the SHA-1 hashes on their Google/Facebook console for debug and release for the logins to work in both situations.

[2018-08-17 14:15] miankhalid commented on #1133
We just solved this issue in a recent PR that merged today i.e. #1129.

Checkout the latest `master` or pull the recent changes and you should be fine.

[2018-08-20 03:52] #1133 closed

[2018-08-20 11:07] TPiotr opened #1135 "Paid courses - price in native discovery"
Hi what about paid courses support? Now when you have paid course and you want to enroll in it from app you can press "Enroll now" which gives you information "we could not enroll you...". My question is if there is a chance for feature where you could have instead of "Enroll now" button have "Buy for ..." button? Or just some kind of information like "this course is not free you can't enroll in i

[2018-08-22 09:56] vishal105 opened #1136 "Video not loading"
Android Os :any

Hello
Video player taking too much time to load video.
Video Size is around 210MB.
For this size video taking around 2 - 3 min for load in high speed wifi.

[2018-08-24 07:38] miankhalid commented on #1135
Native discovery isn't something that we use on our production environment for now. For the web based discovery we have have a specific message for paid courses:

`We are unable to enroll you in this course at this time using the edX mobile application. Please try again on your web browser.`

You could use that for now if you want.

[2018-08-28 04:21] laibinzhi opened #1139 "download button not change when run on android 7.0"
I have submitted a PR, please check，thx

[2018-08-28 11:04] miankhalid commented on #1139
Thanks! We'll put this up in review our list too.

[2018-09-01 00:57] ctsdevteam commented on #957
Hi all,

I got same issue and also check the profile on admin panel
![image](https://user-images.githubusercontent.com/42690973/44940708-713bc700-adbc-11e8-8fe7-2c72648f1dea.png)

The video is playing on iOS app but on it showing this on Android
![image](https://user-images.githubusercontent.com/42690973/44940715-87498780-adbc-11e8-8699-fd7e9d899c96.png)

Can someone help me with it. Thank you

[2018-09-01 01:01] ctsdevteam commented on #1136
Hi All,

I added video with this external URL https://research.fb.com/wp-content/uploads/2017/11/fair-vision-final2.mp4

On ios app can play normally but cant play it on android app (pls check below screenshot)
![image](https://user-images.githubusercontent.com/42690973/44940715-87498780-adbc-11e8-8699-fd7e9d899c96.png)

[2018-09-04 06:58] vishal105 commented on #1136
please check your response json. If video url is in "mobie_low","mobile_high" then it resolve right now url is in "fallbcks" please check this key in course json.

[2018-09-04 11:29] miankhalid commented on #1136
Adding to what @vishal105 said, also check in your app configuration if the `USING_VIDEO_PIPELINE` flag is enabled or disabled.

[2018-09-04 11:34] miankhalid commented on #957
Check in your app configuration if the `USING_VIDEO_PIPELINE` flag is enabled or disabled.

[2018-09-04 17:02] a24h7p commented on #1136
hi @miankhalid @vishal105

having similar problem with @ctsdevteam, according to your suggestion I need to check the app configuration for USING_VIDEO_PIPELINE, which is I assumed within these files:

- /org/edx/mobile/util/Config.java
- /org/edx/mobile/util/VideoUtil.java, where it is written in the comment
            /**
             * If preferred video url for downloading has HLS format and

[2018-09-05 05:50] miankhalid commented on #1136
@a24h7p You'll need to follow the Setup guide mentioned here:
https://github.com/edx/edx-app-android#setup

[2018-09-06 15:55] a24h7p commented on #1136
@miankhalid, i adjusted my app configuration under the default config, config.yaml and add a line USING_VIDEO_PIPELINE : true.

However the result still show similar result. I also try m to add the video with other components such as video_xblock, since I read in the documentation that youtube video is not supported since March 2018.

I try the normal video component hosted in amazon s3 and youtub

[2018-09-07 12:42] miankhalid commented on #1136
@a24h7p From the server response that you get when the Blocks API i.e `/api/courses/v1/blocks/` is called, can you share the JSON object in it that goes by the name `encoded_videos`?

[2018-09-07 13:56] a24h7p commented on #1136
@miankhalid do i required to have edx-data-analytics installed? Base on this [documentation](https://edx.readthedocs.io/projects/edx-data-analytics-api/en/latest/setup.html)?

[2018-09-10 11:06] miankhalid commented on #1136
If your mobile app is loading course content then your server should be working fine as is. You can check you the logs in logcat where it prints the exact URL by searching `blocks/`.

[2018-09-11 10:57] miankhalid commented on #1139
Fixed in https://github.com/edx/edx-app-android/pull/1138.

[2018-09-11 10:57] #1139 closed

[2018-09-11 10:58] miankhalid commented on #1135
Re-open if necessary.

[2018-09-11 10:58] #1135 closed

[2018-09-19 06:05] laibinzhi opened #1144 "user-agent can not contains chinese"
When I configure PLATFORM_NAME as Chinese in the config.yaml file, I get an error.because
I find the request header in okhttp cannot contain Chinese.
Edx has a big market in China.
I hope to solve it ASAP.

[2018-09-19 06:44] miankhalid commented on #1144
Can you share an example config and the exact error that you see?

[2018-09-19 07:45] laibinzhi commented on #1144
@miankhalid
`09-19 15:44:39.334 9071-9104/org.edx.mobile.elitemba E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: org.edx.mobile.elitemba, PID: 9071
    java.lang.IllegalArgumentException: Unexpected char 0x6d4b at 60 in User-Agent value: Dalvik/2.1.0 (Linux; U; Android 6.0.1; MI 4LTE MIUI/8.4.28) 测试平台/org.edx.mobile.elitemba/2.15.1
        at okhttp3.Headers$Builder.checkNameAnd

[2018-09-19 07:46] laibinzhi commented on #1144
@miankhalid
09-19 15:44:39.334 9071-9104/org.edx.mobile.elitemba E/AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    Process: org.edx.mobile.elitemba, PID: 9071
    java.lang.IllegalArgumentException: Unexpected char 0x6d4b at 60 in User-Agent value: Dalvik/2.1.0 (Linux; U; Android 6.0.1; MI 4LTE MIUI/8.4.28) 测试平台/org.edx.mobile.elitemba/2.15.1
        at okhttp3.Headers$Builder.checkNameAndV

[2018-09-19 07:48] laibinzhi commented on #1144
@miankhalid I configured a Chinese in PLATFORM_NAME and I got an error. Change to English, it is normal

[2018-09-19 07:50] laibinzhi commented on #1144
@miankhalid https://github.com/square/okhttp/issues/2016 this issues is closed。I don't know if okhttp solves this problem now.

[2018-09-19 07:54] miankhalid commented on #1144
This needs some research. I am a little busy with some of my own work.
Would you be kind enough to give this a go, come up with a solution and push up-stream for us to review?

[2018-09-26 06:59] myprivateguru commented on #1062
hi there ..we are still waiting to resolve this issue. thanks in advance

[2018-10-04 05:35] Anjlit opened #1147 "Unable to find module with Gradle path ':react-native-navigation' (needed by module 'app'.)"
After installing the React Native Navigation. I receive the following error in Android Studio 3.1

**Gradle sync failed**, Project Is not starting.

[2018-10-04 09:49] #1147 closed

[2018-10-17 04:21] FarvaTechnology opened #1151 "mod_expires and https headers"
I am using "AlexaMediaPlayer/2.0.202407.0 (Linux;Android 5.1.1) ExoPlayerLib/1.5.9"

The Alexa unit is getting a mp3 from a HTTPS source.

At the source - We are using mod_expires as part of apache to set the MP3 as being stale... Doesn't refresh until November (a month from now) - Confirmed by looking at headers via IE and other browsers.

Response headers are:

   Cache-Control: max-age=2592000

[2018-10-17 11:54] miankhalid commented on #1151
Can you share the API you are using to get that audio file? Otherwise, it'll be really hard for us to do this setup on our end.

[2018-10-23 06:24] laibinzhi opened #1156 "Only fullscreen opaque activities can request orientation"
`10-23 14:13:30.396 30925-30925/org.edx.mobile.eliteutest E/AndroidRuntime: FATAL EXCEPTION: main
    Process: org.edx.mobile.eliteutest, PID: 30925
    java.lang.RuntimeException: Unable to start activity ComponentInfo{org.edx.mobile.eliteutest/org.edx.mobile.view.SplashActivity}: java.lang.IllegalStateException: Only fullscreen opaque activities can request orientation
        at android.app.Act

[2018-10-24 09:12] laibinzhi opened #1157 "Error: Video is not yet available on mobile"
When I set USING_VIDEO_PIPELINE to true. The m3u8 video has been loading and cannot be played, and the mp4 video will prompt "This Video is not yet available on mobile". When I set USING_VIDEO_PIPELINE to false, the mp4 video can play normally, and m3u8 still loads.

[2018-10-24 11:33] farhan commented on #1157
@laibinzhi Did you find the issue from the PRs mentioned in the story ?

[2018-10-25 01:30] laibinzhi commented on #1157
@farhan Did you find this problem, but haven't fixed it yet?[https://openedx.atlassian.net/secure/RapidBoard.jspa?rapidView=46&view=planning&selectedIssue=LEARNER-6468&projectKey=LEARNER](https://openedx.atlassian.net/secure/RapidBoard.jspa?rapidView=46&view=planning&selectedIssue=LEARNER-6468&projectKey=LEARNER)

[2018-10-25 02:43] laibinzhi commented on #1136
hello @miankhalid ，having similar problem with @ctsdevteam，USING_VIDEO_PIPELINE is true,I mentioned a new [issues](https://github.com/edx/edx-app-android/issues/1157)

[2018-10-25 07:18] farhan commented on #1157
@laibinzhi Yes, that's true, this issue exists on the master branch and is not fixed yet, we are planning to fix it in v2.17

[2018-10-25 07:40] laibinzhi commented on #1157
@farhan @farhan Ok, thank you, friend. Take the liberty to ask, when will the 2.16 version be released, and 2.17?

[2018-10-25 09:20] farhan commented on #1157
@laibinzhi hopefully v2.16 will be released in a week or so, v2.17 possibly could be released in 1 and half a month.

[2018-11-01 09:50] miankhalid commented on #1156
This should not occur on `master` anymore as it was fixed as part of PR #1159. Reopen if its still an issue.

Also, it would be really great if you mention as much details as possible while creating an issue like (but not limited to) your test device's model, name, OS version and steps that led to the issue. Thanks!

[2018-11-01 09:50] #1156 closed

[2018-11-01 10:05] miankhalid commented on #1136
@laibinzhi your newly created issue, https://github.com/edx/edx-app-android/issues/1157 seems like a better place for discussing this issue as it has more details and probably hints to a possible fix.

Reopen if its a different issue.

[2018-11-01 10:05] #1136 closed

[2018-11-04 18:26] Praveenvermatech opened #1165 "Caused by: groovy.lang.MissingMethodException: No signature of method: java.io.File.plus()"
When i setup edx-app-android in my project. I found a issue，In my logcat err Log like this:

[code]

My android studio configuration:
**Android Studio 3.2.1
JRE: 1.8.0_152-release-1136-b06 amd64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
Linux 4.15.0-36-generic
Using dependencies version: classpath 'com.android.tools.build:gradle:3.2.1'**
I have attached screen shot in my android studio.
[sc

[2018-11-05 11:47] farhan commented on #1165
Please try, one of them may work:
1) run './gradlew clean' command on terminal
2) Refresh all gradle projects from Gradle tab
3) Rebuild the project from 'Build->Rebuild Project'

[2018-11-05 11:50] miankhalid commented on #1165
Also, can you verify:

- You are on the latest master branch?
- What happens if you set `com.android.tools.build:gradle:3.2.1` to `com.android.tools.build:gradle:3.1.3`?

[2018-11-05 12:39] miankhalid commented on #1165
I tried your configuration i.e. I did the following:

`constants.gradle`

[code]

and `gradle/wrapper/gradle-wrapper.properties`

[code]

and everything worked fine on the repo's current `master` branch.

[2018-11-08 19:01] Praveenvermatech commented on #1165
@miankhalid  I am tried your given configuration like this:
[code]
......................................

But my problem is not resolved, same problem occure.
I am also used clean and rebuild project and also tried invalidate cache and restart the Android Studio, but not resolved.

[2018-11-09 06:42] miankhalid commented on #1165
Can you paste the content of your `buildSrc/build.gradle` file?

[2018-11-15 07:39] Praveenvermatech commented on #1165
I have mentioned below All build.gradle file.
**buildSrc/build.gradle**

`buildscript {
    repositories {
        mavenCentral()
    }
}

subprojects {
    apply plugin: "groovy"

    rootProject.dependencies {
        it.runtime project(path)
    }

    it.repositories {
        mavenCentral()
    }

    it.dependencies {
        // These should really be under the projects themselves,
        /

[2018-11-15 07:43] ankushgupta1393 commented on #1165
@Praveenvermatech check this https://github.com/edx/edx-app-ios/issues/1010

[2018-11-15 18:12] ankushgupta1393 commented on #1165
@miankhalid @farhan Please check and help, the error is not resolved, the project is not building

[2018-11-15 19:45] ankushgupta1393 commented on #1077
@vishal105 Hi, how did you resolved the issue?

[2018-11-16 04:18] vishal105 commented on #1077
I changed my build tool and I resolve the issue. Please , Share your error and gradle So I will help you to resolve error.

[2018-11-16 04:19] #1111 closed

[2018-11-16 07:13] farhan commented on #1077
@vishal105 Please describe your resolution over here so others could take benefit from that.
Great to mention the build-tools and gradle version you are using currently.

[2018-11-16 07:47] miankhalid commented on #1165
There are 2 things that come to my mind:

1. Collapse to the error item in your Build window to end and then share the exact error that you see i.e. do the following (like you did in your first screenshot, but follow the instructions that I just added)

![33uph3ma](https://user-images.githubusercontent.com/1710804/48605007-5c270b00-e99d-11e8-93ef-0c3cad82de24.png)

2. As mentioned in https://githu

[2018-12-10 03:46] zohabylc opened #1225 "Android Flag Documentation Page Down"
I have been trying to configure edx-app-android. Last week I saw the flag list here https://openedx.atlassian.net/wiki/display/MA/App+Configuration+Flags

But now the page is not found. Have you shifted the documentation anywhere else?

[2018-12-10 06:04] miankhalid commented on #1225
Thanks for mentioning.

The page has been moved and the new link is:
https://openedx.atlassian.net/wiki/spaces/ArchiveEng/pages/48792067/App+Configuration+Flags

[2018-12-10 06:47] zohabylc commented on #1225
@miankhalid thanks for quick reply.
The new link also showing that it's a dead link.
https://openedx.atlassian.net/wiki/spaces/ArchiveEng/pages/48792067/App+Configuration+Flags

[2018-12-10 07:20] miankhalid commented on #1225
There is some permission issue for not-logged-in users. I'll update here once the link is working for the public.

If you have an urgent need for some info from that link, do let me know.

[2018-12-10 07:53] Zoha131 commented on #1225
Currently I am trying to configure open edx android app. We are in tight schedule. So it would be very helpful for me if you can find me a way to view the documentation.

[2018-12-10 07:55] zohabylc commented on #1225
Currently I am trying to configure open edx android app. We are in tight schedule. So it would be very helpful for me if you can find me a way to view the documentation

[2018-12-10 07:59] miankhalid commented on #1225
Will this work for you?

![2018-12-10-12-57-openedx atlassian net](https://user-images.githubusercontent.com/1710804/49718242-5a3e2800-fc7b-11e8-9bbd-19b2f737aa25.png)

[2018-12-10 08:01] zohabylc commented on #1225
@miankhalid Thanks a lot for the pic. It would work for me now.

[2018-12-10 09:01] Junaid388 commented on #1165
I have tried above solutions but nothing is working for me.
here is the content of

`edx.android {
    configFiles = ['shared.yaml','android.yaml']
}`

I have tried this also
`edx.android {
    configFiles = ['android.yaml']
}`

please let me know how to solve this.

[2018-12-10 10:04] miankhalid commented on #1165
@Junaid388 can you share the exact problem that you are facing? with some logs and snapshots?

[2018-12-10 10:08] Junaid388 commented on #1165
When I am triying to compile the project it is giving error as

No signature of method: java.io.File.plus() is applicable for argument types: (java.lang.String) values: [ not found. Skipping.]
Possible solutions: list(), list(java.io.FilenameFilter), is(java.lang.Object), use([Ljava.lang.Object;), split(groovy.lang.Closure), wait()

![screenshot from 2018-12-10 15-35-53](https://user-images.github

[2018-12-10 10:19] miankhalid commented on #1165
Have you followed the exact steps as mentioned here?
https://github.com/edx/edx-app-android#setup

I think you might be misplacing some files/directories or maybe entering their relative path wrong in the configs.

[2018-12-10 10:53] Junaid388 commented on #1165
I have followed the exact procedures and checked the steps multiple times. I am facing the same issues mentioned by @Praveenvermatech

[2018-12-10 11:19] miankhalid commented on #1165
Here's how my directory structure looks for configs with respect to project:

My base `edx.properties` file is placed at:

----

Text content in `edx.properties` file:

----

Contents in `my_config` folder (same as the example given `/edx-app-android/OpenEdXMobile/default_config`):

Check to see if yours matches this structure.

[2018-12-10 12:17] Junaid388 commented on #1165
My directory structure is same as you mentioned.

every file is in same place as you have mentioned above.

[2018-12-10 12:21] miankhalid commented on #1165
The only thing that comes to my mind now is how your configurations are written in the files. For instance, there might be an encoding issue while using the apostrophe `'` charcter.

For example:
`Hamlet's father's ghost (U+0027)`
`Hamlet’s father’s ghost (U+2019)`

Ref: http://snowball.tartarus.org/texts/apostrophe.html

[2018-12-11 10:53] Junaid388 commented on #1165
@miankhalid Thank you for support. solved the issue. The problem was with android.yaml

[2018-12-11 11:06] miankhalid commented on #1165
Great! Care to share the issue and its resolution for the community as well?

[2018-12-17 05:33] #1225 closed

[2018-12-17 05:35] zohabylc opened #1228 "Enabling URL from open-edx server for android"
how to enable PROGRAM_URL and PROGRAM_DETAIL_URL_TEMPLATE flags fot open-edx-android from open-edx server? I am unable to find any documentation on that.

[2018-12-18 07:04] miankhalid commented on #1228
This discussion has moved to our Slack channel for the Open edX community:
https://openedx.slack.com/archives/C0F0NA2F5/p1545116583026200

[2018-12-18 07:04] #1228 closed

[2018-12-18 07:06] miankhalid commented on #1165
This issue occurs when there is a typo or path issues in the config files. Feel free to reopen if it's still an issue.

[2018-12-18 07:06] #1165 closed

[2018-12-18 07:07] miankhalid commented on #1151
Closing due to no response from the reporter.

[2018-12-18 07:07] #1151 closed

[2018-12-25 17:44] nikkou opened #1234 "No tuning knob for video playback speed"
There was #243 tangentially talking about this. I think this is an important issue.

It's much more discouraging as I'm not even able to tune the speed outside edx app on mobile (either via downloading videos edx app as downloaded videos are disordered or via edx-dl because it doesn't start up due to a bug in youtube-dl)

[2018-12-27 00:49] simonclouds commented on #1094
Did you solve this?  I met the same problem when I debugging the android app.

[2019-01-07 05:54] MrJackC opened #1237 "Mobile does not support opening PDF"
The mobile terminal does not support opening the PDF, and can only view the pdf document in the web login account.

[2019-01-07 07:14] miankhalid commented on #1234
As mentioned in the issue you tagged the reply is still the same i.e.

As far as video playback speed inside the edX app is concerned, here's a ticket through which you can track this feature's progress:
https://openedx.atlassian.net/browse/LEARNER-6850

[2019-01-14 07:47] miankhalid commented on #1237
By mobile terminal, do you mean the mobile app?

If yes, then we haven't had the need to implement a PDF reader within the app. If you have an implementation in mind, push an OSPR and we'll be happy to give it a look.

[2019-01-14 07:49] miankhalid commented on #1144
Closing due to no reply from the contributor.

[2019-01-14 07:49] #1144 closed

[2019-01-23 08:55] laibinzhi commented on #1144
@miankhalid I am glad that you still remember this question. I just tested this PR and found that there is no exception and it works fine. But I don't really recommend this solution. The following is the modified User-Agent: Dalvik/2.1. 0 (Linux; U; Android 8.1.0; Nexus 6 Build/OPM2.171026.006.H1) /cn.test.android/ 2.16.3. The following is the User-Agent before modification: Dalvik/2.1.0 (Linux; U

[2019-01-23 08:58] laibinzhi commented on #1144
@miankhalid
https://github.com/edx/edx-platform/blob/a439d5164c07e4695181b15244e8e5c7681421c4/lms/djangoapps/mobile_api/mobile_platform.py#L63

[2019-01-23 08:58] laibinzhi commented on #1144
@miankhalid
https://github.com/edx/edx-platform/blob/a439d5164c/lms/envs/common.py#L3252

[2019-01-23 09:01] miankhalid commented on #1144
@laibinzhi can you add this comment on the PR instead of here? that way the originator of the PR will also have visibility of it and have a chance of chiming in on your reservations. Thanks!

[2019-01-23 10:02] laibinzhi commented on #1144
of course
Mian Khalid < notifications@github.com >于2019年1月23日周三下午5:01写道：

[2019-01-30 09:56] zohabylc opened #1248 "App Crashes when try to navigate from CourseDetailFragment to MainDashboardActivity"
Here is the stack trace.

[code]

Details of the device.

![image](https://user-images.githubusercontent.com/45554632/51973295-7d30cf80-24a7-11e9-885f-ee57397a6407.png)

**I get this crash from Firebase Crashlytics**

[2019-01-30 10:32] zohabylc commented on #1248
Way to reproduce the crash:

Go to enroll course page and press to the button "Enroll now". After pressing the button immediately press the back button.

![ezgif com-optimize](https://user-images.githubusercontent.com/45554632/51975490-8ff9d300-24ac-11e9-9b89-da9f96de8179.gif)

[2019-01-31 07:07] miankhalid commented on #1248
Seems like an issue in the implementation/changes on your side cuz this issue is not occurring on our [app on the PlayStore](https://play.google.com/store/apps/details?id=org.edx.mobile&hl=en).

[2019-01-31 08:12] zohabylc commented on #1248
I see...

[2019-02-04 07:31] htooaungkyaw opened #1252 "Notification Icon doesn't change after adding ic_notification.png in our custom res folder."
When i have inserted notification pngs for my app in custom res folder and also replace ic_notifcation in OpenEdxMobile/res , i founded notification icon was not changed when notifications arrive.

[2019-02-04 08:12] miankhalid commented on #1252
Did you replace all the resources in different res folders? (like hdpi, xhdpi etc)

[2019-02-04 10:00] htooaungkyaw commented on #1252
Yeah. I replaced all required folders. Now, I founded that the problem is because of device(Mi Note). Thank you for quick reply.

[2019-02-04 10:00] #1252 closed

[2019-02-11 12:26] miankhalid commented on #1248
Reopen, if necessary.

[2019-02-11 12:26] #1248 closed

[2019-02-26 03:25] danielsengkey commented on #848
Hi..
Is there any update on this issue?
It seems 2 years have passed and I have no option to save video to memory card.

[2019-02-26 06:32] miankhalid commented on #848
@danielsengkey and everyone else on this thread:

1 - If you are a developer, then check out our latest `master` branch and enable downloads on SD Card by setting the `DOWNLOAD_TO_SD_CARD_ENABLED` flag to true. More info can be found on this ticket: https://openedx.atlassian.net/browse/LEARNER-6166
2 - If you are a learner, then keep your fingers crossed as we are planning to roll out this feature

[2019-02-26 07:46] farhan commented on #918
Unnecessary permissions including Accounts permission has been removed from release v2.16.4, so closing this issue now.
Ref:
https://openedx.atlassian.net/browse/LEARNER-6567
https://github.com/edx/edx-app-android/releases/tag/release%2F2.16.4

[2019-02-26 07:46] #918 closed

[2019-03-07 07:41] xuezhi123go commented on #841
Where can I get my Client Secret?

[2019-03-07 10:19] miankhalid commented on #841
From you server developers that would've deployed edX platform.

[2019-03-08 06:53] xuezhi123go commented on #841
thank you

[2019-03-25 07:18] miankhalid commented on #1234
This feature has been merged into master and now you can use it by pulling the latest code from the master branch:

PR for this feature: https://github.com/edx/edx-app-android/pull/1239

[2019-03-25 07:18] #1234 closed

[2019-03-25 07:20] miankhalid commented on #889
No longer an issue.

[2019-03-25 07:20] #889 closed

[2019-03-27 05:30] MrJackC opened #1275 "Token invalidation"
The app was successfully logged in, but "please check your Internet Connection" appeared when clicking on the chapter, then the console reported "{"developer_message": "Only support DOT type access token with grant type password. ","error_code":"non_supported_token" }"

[2019-03-27 05:32] MrJackC opened #1276 "Token invalidation"

[2019-03-27 05:32] #1276 closed

[2019-03-27 09:27] miankhalid commented on #1275
Have a look at this thread on our Open edX Slack workspace:
https://openedx.slack.com/archives/C0F0NA2F5/p1550459747003300

p.s. you'll need an account to view the thread. Account creation is free on our Open edX Slack workspace.

[2019-03-28 02:04] MrJackC commented on #1275
I tried to log in with a Google account, but the website suggested that I failed to log in. I can't find the entry point for the registered account. Can you elaborate on it?

[2019-03-28 07:13] miankhalid commented on #1275
Use this link to get an invite:
https://openedx-slack-invite.herokuapp.com/

[2019-03-28 08:04] MrJackC commented on #1275
Thank you very much, I successfully added the account and solved the problems encountered in the app!

[2019-03-28 08:08] miankhalid commented on #1275
Great! Closing the issue now.

[2019-03-28 08:08] #1275 closed

[2019-04-10 13:15] peey opened #1282 "Support casting"
Hi. Since a big chunk of courses are videos, I think to be able to cast it to a larger screen (e.g. Using chromecast) could be quite useful.

More justification for this use case? Coursera's app does it

[2019-04-11 07:58] miankhalid commented on #1282
We have it in our plans to add casting in our apps but a timeline hasn't been decided yet.
I'll update this issue once I have more info on that.

Thanks for flagging it though!

[2019-05-29 07:44] bvhloc opened #1304 "About DiscoveryConfig"
Hello,
In MainTabsDashboardFragment.java
Line #148 to #159:
if ((courseDiscoveryConfig != null && courseDiscoveryConfig.isDiscoveryEnabled()) ||
                (programDiscoveryConfig != null && programDiscoveryConfig.isDiscoveryEnabled(environment))) {
...
}

I would like to enable the "Discovery tab", how can I edit to make these conditions become "true"?

[2019-05-29 08:23] miankhalid commented on #1304
Check the following document to get an idea on how to enable/disable features like "Discovery Tab" in the app:
https://openedx.atlassian.net/wiki/spaces/LEARNER/pages/48792067/App+Configuration+Flags

p.s. you'll need to create an account (which is free) to access this document.

Reopen the issue if you still face an issue.

[2019-05-29 08:23] #1304 closed

[2019-05-29 09:01] bvhloc commented on #1304
Hi, I have an atlassian account and I tried to access this document but the page said that: "This is a restricted space"

[2019-05-29 09:05] miankhalid commented on #1304
You need to create an account on Atlassian space.

[2019-05-29 09:10] bvhloc commented on #1304
It was a delaying issue from Atlassian site, they didn't identify my account logged in last time, Now I can access the document, thank you

[2019-07-12 13:29] farhan commented on #848
As we have rolled out the feature in the release and its live in edX app as well, i am closing this issue.
For the information 'download to sd-card' feature is in beta version now, so some issues could be experienced on some particular device models.

[2019-07-12 13:30] #848 closed

[2019-07-12 13:32] farhan commented on #1157
@laibinzhi We have fixed all these kind of edge cases in this PR: https://github.com/edx/edx-app-android/pull/1310
I am closing this issue for now, please have a look into PR and if you still experience any issue feel free to reopen the issue.

[2019-07-12 13:32] #1157 closed

[2019-07-12 13:33] farhan commented on #1282
@peey Follow up story for Google Cast support: https://openedx.atlassian.net/browse/LEARNER-7235

[2019-07-13 11:05] friendsmobile opened #1314 "(BUGedx-app-android VERSION 2.19.1 ) Choose a photo option is not working properly"
# Project Information

* Repository:  https://github.com/edx/edx-app-android
* Project Name:  edX - Online Courses by Harvard, MIT, Microsoft
* My Github Account: https://github.com/friendsmobile
* Download the application:  https://play.google.com/store/apps/details?id=org.edx.mobile

# Expected behavior

When I select a photo from the gallery using a Choose a photo option, this picture should be

[2019-08-06 06:17] rahulrkhot opened #1320 "java.io.IOException: unexpected end of stream on okhttp3.Address@4cc873be And Caused by: java.io.EOFException: \n not found: limit=0 content=…"
I am facing issues，when I trying to login with "api/mobile/v0.5/my_user_info/"  this end point. With  Header "Authorization"

please see my logcat in the given attached two images :
![Screenshot from 2019-08-06 11-30-51](https://user-images.githubusercontent.com/14055315/62515333-ac9e0b80-b83f-11e9-9503-e3429cca9369.png)
![Screenshot from 2019-08-06 11-31-03](https://user-images.githubusercontent.

[2019-08-21 06:24] ArjunRJ opened #1325 "Playstore gives warning for target API level 28"
Warning:
Your app currently targets API level 26 and must target at least API level 28 to ensure it is built on the latest APIs optimized for security and performance.

From August 2019, new apps must target at least Android 9.0 (API level 28).
From November 2019, app updates must target Android 9.0 (API level 28).

[2019-08-21 07:06] ArjunRJ opened #1326 "This release is compliant with the Google Play 64-bit requirement"
Starting August 1, 2019, your apps published on Google Play will need to support 64-bit architectures. 64-bit CPUs deliver faster, richer experiences for your users. Adding a 64-bit version of your app provides performance improvements, makes way for future innovation, and sets you up for devices with 64-bit-only hardware.

This guide explains the steps you can take today in order to ensure that y

[2019-08-21 08:38] farhan commented on #1325
@ArjunRJ Thanks for reporting. I have created following story for it
https://openedx.atlassian.net/browse/LEARNER-7398

[2019-08-21 08:44] farhan commented on #1326
@ArjunRJ Thanks! for reporting. I have created following follow up story for it.
https://openedx.atlassian.net/browse/LEARNER-7399

[2019-12-05 19:17] 21703819 commented on #1320
hey! i'm having same problem, you already solve it?

Thanks.

[2019-12-09 12:12] shrivastavaanurag commented on #1165
Where is android.yaml, I am not able to find the android.yaml. I am also stuck at [here](https://github.com/edx/edx-app-android/issues/1165#issuecomment-445760141)

[2019-12-10 08:26] miankhalid commented on #1165
@shrivastavaanurag `android.yaml` would be the configuration file (which is by default found in `⁨edx-app-android⁩ ▸ ⁨OpenEdXMobile⁩ ▸ ⁨default_config⁩ ▸ ⁨config.yaml`).

p.s. You can rename it to anything, and in Junaid388's case he must've renamed it to `android.yaml`

My suggestion for a fix would be to first verify [this suggestion](https://github.com/edx/edx-app-android/issues/1165#issuecomme

[2019-12-17 10:44] drupol commented on #1282
any news so far on this ?

[2019-12-18 10:33] farhan commented on #1282
@drupol Google Chrome Cast supported has been added in following PR.
Thanks for asking updates.

[2019-12-18 10:33] #1282 closed

[2020-01-07 14:18] 21703819 opened #1359 "Application crash on course_enrollments"
I'm using tutor backend https://docs.tutor.overhang.io/.
After running the application, if im not enrolled in one course, the application crash, and this is exception:
[code]
And if i'm enrolled, the list of my couses shows up, and if i click in one of those, the application crash, this is the exception:
[code]

[2020-01-22 11:17] fauzyas01 opened #1364 "Authentication credentials were not provided"
Help! I've already set the file:

Change my LMS:
#proxy_set_header X-Forwarded-Proto $scheme; # to
proxy_set_header X-Forwarded-Proto $http_x_forwarded_proto; #

And I have OAUTH_ENFORCE_SECURE set to 'false' in lms.env.json.
like mentioned before in previous Issue like this,
but the error still occurs :(
Please Help..

[2020-01-24 09:18] miankhalid commented on #1364
@fauzyas01 your provided info isn't enough for us to figure out the problem.

Can you add more info? like:
- what you are trying to do
- which steps did you follow
- details/logs of problems that you are facing

[2020-01-27 04:08] fauzyas01 commented on #1364
the register & forgot password is working
but when i was trying to log in,, and i got the token and its already stored, but it fails when getting the profile

at LoginAPI.java
response.profile = getProfile();      (code line 128)

and it throws exception Response{protocol=http/1.1, code=401, message=UNAUTHORIZED,}

please help!

[2020-01-27 06:23] miankhalid commented on #1364
Is the login working on your website?

[2020-01-27 09:46] fauzyas01 commented on #1364
yes, its working on iOS & website as well

[2020-01-27 11:36] miankhalid commented on #1364
Do note that the OAUTH_CLIENT_ID is different for iOS and Android. Here's how you can generate different OAUTH_CLIENT_IDs for both OS:
https://edx.readthedocs.io/projects/edx-installing-configuring-and-running/en/latest/mobile.html#create-the-oauth-clients

[2020-01-27 11:59] fauzyas01 commented on #1364
yes its already different (the oauth_cliect_id)

btw this is what happened when i tried to call
https://{my_web_platform}/api/mobile/v0.5/my_user_info

__________________________________________________________
Request headers:
Accept-Encoding: gzip
Connection: Keep-Alive
Host: {my_web_platform}
User-Agent: okhttp/3.0.1
__________________________________________________________
Response:
Headers:

[2020-01-27 12:08] miankhalid commented on #1364
Seems like there is some problem with the access token that is being sent by the server.

You'll have to start debugging the issue by adding a breakpoint on line # 126 in LoginAPI.java file.

p.s. OauthHeaderRequestInterceptor.java is the file where the Authorization token is applied to requests. Might as well apply a breakpoint in that class too starting from line # 32.

[2020-01-27 12:49] fauzyas01 commented on #1364
problem is the android code didn't add the authorization header w/ bearer token (which i've seen it in profiler debugging)
and it works when i tried to add the authorization header  w/ bearer token in postman

or if u can help me i can send you my config via email, maybe you can debug it urself would be a great help sir?

[2020-01-27 14:17] miankhalid commented on #1364
Sorry, I can't help like that.

You can verify if there's a typo or an issue in your config.yaml file which is causing the issue.

[2020-01-27 14:17] miankhalid commented on #1364
Sorry, I can't help like that.

You can verify if there's a typo or an issue in your config.yaml file which is causing the issue.

[2020-01-28 04:44] fauzyas01 commented on #1364
yeah firstly i got java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.

so i modified the code put getUnsafeOkHttpClient in the Loginservice get() line 43 before return:
[code]
register & forgot password works, but not login, maybe that is the cause that it didnt add the Authorization Header?

Maybe the solution i should create .bks file from the .crt?

[2020-01-29 06:13] miankhalid commented on #1364
We've never faced this issue, so I can't comment if that'll fix the issue.

[2020-01-29 06:28] fauzyas01 commented on #1364
No worry sir, i found the solution, its on the okHttpclient model, i apply unsafe trust certificate function on it
thank you for your attention and time

[2020-01-29 06:28] #1364 closed

[2020-01-29 06:50] fauzyas01 commented on #1359
bump

[2020-01-29 06:56] farhan commented on #1359
These crashes are related to configurations, pleases study following to resolve them.

https://github.com/edx/edx-app-android/blob/master/AcceptanceTests/src/main/java/org/edx/Config.java

https://openedx.atlassian.net/wiki/spaces/LEARNER/pages/48792067/App+Configuration+Flags

https://github.com/edx/edx-app-android/pull/1351

[2020-02-05 07:32] jsplate commented on #1359
@farhan the second link you gave does not work.
Confluence says the space is restricted (or something similar, in german: Dieser Bereich ist eingeschränkt)
https://openedx.atlassian.net/wiki/spaces/LEARNER/pages/48792067/App+Configuration+Flags

[2020-02-06 16:25] 21703819 commented on #1359
It worked if you create a atlassian account. I already understand that is a configuration problems. But i dont know what to put in the file, i.e, the url for my courses, or my programs etc. If you guys can give me a example of config file, i appreciate. Thanks for the help!

[2020-02-07 08:14] jsplate commented on #1359
@21703819  Thanks for the advice, now I can see the documentation too.
I have the same problem. An example config file would be great!

[2020-02-10 06:46] farhan commented on #1359
@jsplate We are working on to update the default config file.
Thanks! for raising the problem.

[2020-02-10 06:59] farhan commented on #1326
@ArjunRJ Closing the issue as our app already supports 64-bit architecture.
https://github.com/edx/edx-app-android/pull/1327#issuecomment-546898828

[2020-02-10 06:59] #1326 closed

[2020-02-10 07:01] farhan commented on #1325
@ArjunRJ Closing the issue as we have updated our project target api level to 28 in following PR.
https://github.com/edx/edx-app-android/pull/1342

[2020-02-10 07:01] #1325 closed

[2020-02-12 06:53] rajeevbagla79 commented on #1094
I am facing a similar issue. Initial authentication is passed and I get the authentication token back but getting "401 - unauthorized" error after that for '/api/mobile/v0.5/my_user_info' call. org.edx.mobile.http.HttpStatusException: Response{protocol=http/1.1, code=401, message=Unauthorized, url=http://MYDOMAIN/api/mobile/v0.5/my_user_info}

I have tested it on browser. Same request works fine i

[2020-02-12 07:04] rajeevbagla79 opened #1370 "Failed to sign in as /api/mobile/v0.5/my_user_info is giving http 401 - unathorized response"
I am facing an issue while signing in. The app's config file has been updated with the correct OAUTH_CLIENT_ID, and Initial authentication is passed and I get the authentication token back but getting "401 - unauthorized" error after that for '/api/mobile/v0.5/my_user_info' call.

Error response : org.edx.mobile.http.HttpStatusException: Response{protocol=http/1.1, code=401, message=Unauthorized,

[2020-02-12 07:06] rajeevbagla79 opened #1371 "Failed to sign in due to http 401 unauthorized response for '/api/mobile/v0.5/my_user_info'"
I am facing an issue while signing in. The app's config file has been updated with the correct OAUTH_CLIENT_ID, and Initial authentication is passed and I get the authentication token back but getting "401 - unauthorized" error after that for '/api/mobile/v0.5/my_user_info' call.

Error response : org.edx.mobile.http.HttpStatusException: Response{protocol=http/1.1, code=401, message=Unauthorized,

[2020-02-14 18:42] mindrunner opened #1372 "'master' Branch incompatibility with ironwood release (tutor)"
Hey there

we figured out, that the current android master branch does not correctly work with the tutor ironwood release. We assume, that we need to use another branch/tag/commit of this repo for connecting to an ironwood instance.
See
https://github.com/overhangio/tutor/issues/289
https://discuss.overhang.io/t/sign-in-error-in-android-app/294/2

Can someone poke me into the right direction pleas

[2020-02-14 22:28] nedbat commented on #1372
There is an open-release/ironwood.master branch in this repo.  It should be compatible with Ironwood.

[2020-02-14 22:28] #1372 closed

[2020-02-15 14:55] mindrunner commented on #1372
Not sure why this was closed so quickly. I am still having problems. Using the branch `open-release/ironwood.master`, I am getting the following error (didn't happen on master branch).

[code]

[2020-02-17 08:20] miankhalid commented on #1372
Try using our latest release's branch i.e. `rc/2.20.2`

https://github.com/edx/edx-app-android/releases/tag/release%2F2.20.2

[2020-02-17 08:25] miankhalid commented on #1372
p.s. `master` should work too as we never call the `/oauth2/access_token/` using GET method in our code (as mentioned in the links you shared).

[2020-02-17 16:07] mindrunner commented on #1372
Cool, thanks for the information. We are usinf the `openrelease/ironwood.1` tag now. Is that valid?

I really wonder why I am seeing this in my nginx log then:
[code]

[2020-02-17 16:21] miankhalid commented on #1372
That's a really old tag that I won't recommend using.

Any specific reason as to why you are getting a 301 status calling the API using POST method?
`“POST /oauth2/access_token/ HTTP/1.1” 301`

[2020-02-17 16:35] mindrunner commented on #1372
tutor Android build is configured to use `http` per default. My nginx redirects this to `https` with a 301 status. Already mentioned it here: https://github.com/overhangio/tutor/issues/289

However, this is confusing me now. Why is the 301 POST redirected to a GET request? Is that an issue on the client side of the request or on the redirecting server?

[2020-02-17 16:38] miankhalid commented on #1372
no idea, we've never encountered such issue.

[2020-02-17 18:39] mindrunner commented on #1372
I changed the `API_HOST_URL` to `https` and it works. Even with `master` branch.

Thanks for your help!!

[2020-02-18 06:56] miankhalid commented on #1372
Oh great! You're welcome.

[2020-02-19 11:33] miankhalid commented on #1359
Here's a sample config that you guys can check for sample configurations setup: [mobile-test.zip](https://github.com/edx/edx-app-android/files/4224804/mobile-test.zip)

[2020-02-28 12:18] jsplate commented on #1359
For me the config works. The app doesn't crash any more. @miankhalid Thank you very much for the config.

[2020-02-28 14:39] miankhalid commented on #1359
Great!

Yep, we are planning to add this sample config inside the default_config folder of our app's repo here:
https://github.com/edx/edx-app-android/tree/master/OpenEdXMobile/default_config

[2020-03-09 16:38] 21703819 commented on #1359
thanks @miankhalid ! for me it work too

[2020-03-09 16:38] #1359 closed

[2020-03-11 14:24] OlegarioLopez opened #1380 "Android 10 icons Bug"
Icons dissapear when are selected, It only happens in android 10 devices, any advice to solve it? I´m trying it

![Alt Text](https://i.imgur.com/tejfcJg.gif)

[2020-03-11 14:59] miankhalid commented on #1380
We're trying to fix this issue currently as part of this JIRA ticket:
https://openedx.atlassian.net/browse/LEARNER-7643

[2020-03-12 07:12] OlegarioLopez commented on #1380
is there any estimate of when it will be in production?

[2020-03-12 07:25] farhan commented on #1380
@OlegarioLopez We are trying to figure out the root cause. You can check the update after a week.
If it will be a quick fix, it will be fixed in a week and you can cherry-pick the PR commits.

[2020-03-12 15:49] OlegarioLopez commented on #1380
it´s a suboptimal fix but setting colors with less than 0.49 alpha it works.
( \edx-app-android\OpenEdXMobile\res\values\colors.xml )

[2020-03-13 09:45] farhan commented on #1380
Thanks for your efforts @OlegarioLopez let me check the suboptimal fix, we are also on the way to figure out the problem.
Its the issue with color states on OS 10, it's even worked if we give the fixed color.

[2020-03-13 12:47] OlegarioLopez commented on #1380
Thank you all !

[2020-03-13 12:50] farhan commented on #1380
@OlegarioLopez It has been fixed by changing the line to
`paint.setAlpha(((color >>> 24) * iconState.alpha) / 255);`
Change '>>' operator to '>>>' operator.
PR link coming soon

[2020-03-17 13:46] OlegarioLopez opened #1384 "redirection to the youtube application"
I´m working in a custom app based on edx android app version 1.0.2.
is there any option or tip to achieve play youtube videos without redirect to youtube app?
Thanks!

![youtube compatibilidad](https://user-images.githubusercontent.com/22029014/76861374-c9ca9c00-685c-11ea-9b4a-39d3ed05b759.png)

[2020-03-17 13:52] miankhalid commented on #1384
You can either latest master of the repo that has an in-app youtube player.

Or you could cherry-pick all the commit from this PR https://github.com/edx/edx-app-android/pull/1347 for the youtube player.

[2020-03-17 13:52] #1384 closed

[2020-03-18 07:31] farhan commented on #1380
The issue has been fixed as part of the following PR:
https://github.com/edx/edx-app-android/pull/1382

[2020-03-18 07:31] #1380 closed

[2020-03-19 21:23] tolik85 opened #1386 "plugins/edx-app-gradle-plugin not found in root project"
Hello everyone!
I'm struggling with a compilation issue on Android Studio.
I am using the latest version 3.6.1.

Could you please advise?
Thanks!

![image](https://user-images.githubusercontent.com/1758575/77116261-95133c00-6a38-11ea-8051-dc958feea29d.png)

[2020-03-20 07:20] miankhalid commented on #1386
1. Are you using the latest `master` branch?

2. Also, try doing this:

Delete all the files and folder inside buildSrc folder except the following 3 files:
[code]
and then Rebuild the project

[2020-03-23 20:51] tprochazka commented on #1047
Sadly this fix doesn't work with the latest Gradle, because

I think that it is IDEA bug, because from the command line it works fine.
I created bug for it here
https://youtrack.jetbrains.com/issue/IDEA-224846
But Jebrain will never care about bug with no votes from another developer.

[2020-03-24 09:22] miankhalid commented on #1047
@tprochazka what Gradle version are you using?

[2020-03-25 07:56] amonsef-github opened #1388 "App crash after login if the user has no course enrollments yet"
Hi All,
I've just cloned open edx android and made the required configuration to connect to our edx instance, after log in I ran into an issue where the app crash with **NullPointerException** as the trace below.

In the log, this happen after calling the API.

**Note: the response is an empty array as there are no enrollments yet.**

[code]

[2020-03-25 08:13] miankhalid commented on #1388
@amonsef-github We are currently trying to fix this issue as part of this ticket:
https://openedx.atlassian.net/browse/LEARNER-7456

Can you share your configurations for setting up the Android app to help us in understanding where the problem is?
p.s. we are particularly interested in how you are setting up the configurations for the `DISCOVERY`  key.

[2020-03-25 12:39] amonsef-github commented on #1388
@miankhalid Thanks for the reply.
I have just started working on the project so I don't know about what keys are mandatory ?
I followed the the [ReadMe](https://github.com/edx/edx-app-android/blob/master/README.md) guide to make the configurations and used only the keys in the default config folder attached in the project and there was no key for `DISCOVERY`

[code]

`OAUTH_CLIENT_ID: '9cd12ff0399

[2020-03-25 13:00] miankhalid commented on #1388
Thanks for the detailed comment, lemme try reproducing the issue and fix it!

[2020-03-25 22:44] tprochazka commented on #1047
Currently 6.2.1

[2020-03-26 06:39] miankhalid commented on #1047
Try using 5.2.1 as we are using it on our master branch without any issue:
https://github.com/edx/edx-app-android/blob/master/gradle/wrapper/gradle-wrapper.properties

Once we try 6.2.1, we'll let you know!

[2020-04-07 11:53] miankhalid commented on #1388
This issue is now fixed and shouldn't occur on our `master` branch after this PR: https://github.com/edx/edx-app-android/pull/1392

[2020-04-07 11:53] #1388 closed

[2020-04-13 04:49] nadheemabdulla commented on #1359
Hi. I'm a beginner using tutor distribution of open edx. I also got the same error. It would be such a help if you can tell me where should I find that config file, and what should I edit there ?

[2020-04-13 06:11] miankhalid commented on #1359
@nadheemabdulla if you checkout our latest `master` branch you won't face this issue as it has been fixed in this PR #1392

[2020-04-13 07:29] nadheemabdulla opened #1395 "App Crashes"
When someone tries to register / a registered user tries to click on courses, the app suddenly gets crashed. I'm using tutor distribution of open edx. I made a new OAUTH credentials and gave it in tutor.yaml; and gave  the following correctly:
ENVIRONMENT_DISPLAY_NAME: ''
PLATFORM_NAME: ''
PLATFORM_DESTINATION_NAME: ''
FEEDBACK_EMAIL_ADDRESS: ''
OAUTH_CLIENT_ID : ''

Even then it's crashing
``
tim

[2020-04-13 07:49] miankhalid commented on #1395
This issue is now fixed and shouldn't occur on our `master` branch after this PR: #1392

Also, we've never used tutor distribution of open edX, so asking them on their about this issue would be the right thing to do.

One thing I would suggest you should verify is that the `master` branch of your local Android repo (from which you are building the app) is up to date with the latest changes.

[2020-04-13 09:19] nadheemabdulla commented on #1395
Thank you ! It is solved when I used master branch with android studio. previously I'd tried cloning it to tutor, which was the problem.

[2020-04-13 09:19] #1395 closed

[2020-04-13 09:44] nadheemabdulla opened #1396 "App doesn't load text , mcq etc"
App loads nothing other than videos. In course sections with mcq / text etc a dialogue : "Please check your internet connection" is shown and immediately closes.
App is build with the master on android studio v 3.6.2.0
Pls check the attached video

https://drive.google.com/file/d/1aoRZpCEDAmsa0Wf-00i7OQSKtx4zvxe1/view?usp=sharing

[2020-04-13 14:22] miankhalid commented on #1396
You'll have to either:
- check the logs in Android Studio's Logcat window and see what exceptions are being thrown
- or start debugging from the following function in `CourseUnitWebViewFragment` class:

[code]

[2020-04-17 06:02] nadheemabdulla commented on #1396
I tried many times and same error persists.

can you please check this error log
``
2020-04-17 11:27:10.405 18352-18352/? A/libc: FORTIFY: pthread_mutex_lock called on a destroyed mutex (0x7b6dd77728)
2020-04-17 11:27:10.410 18352-18352/? A/libc: Fatal signal 6 (SIGABRT), code -6 (SI_TKILL) in tid 18352 (org.edx.mobile), pid 18352 (org.edx.mobile)
2020-04-17 11:27:10.470 3469-3495/? E/libprocessgr

[2020-04-17 13:56] Aero-geek commented on #1371
Did you get help with this issue? If you are on apache you might need to set

WSGI authorization to on

[2020-04-20 07:12] miankhalid commented on #1371
You'll need to make sure that your sandbox or server whose URL you are giving in for the `API_HOST_URL` key is running `https`.

If it's running `http` then the app won't run for it.

Re-open if that doesn't fix the issue. Thanks!

[2020-04-20 07:12] #1371 closed

[2020-04-20 15:43] gitmalux commented on #1396
hi, i am having the same issue

[2020-04-20 16:11] gitmalux commented on #1370
add this line to http-lms.conf file

WSGIPassAuthorization On

[2020-04-20 16:16] miankhalid commented on #1370
Thanks for the suggestion @gitmalux!

Additionally, @rajeevbagla79 do make sure that your server is running on `HTTPS` and not `HTTP`.

Re-open if the suggestions above don't fix the issue. Thanks!

[2020-04-20 16:16] #1370 closed

[2020-04-20 16:19] miankhalid commented on #1396
The logs aren't helpful and frankly, there isn't much in there to actually understand what the problem might be.

Have you tried debugging the issue?

[2020-04-20 17:29] gitmalux commented on #1396
yes
this is a chunk of debugging result when trying to view text in a course:

D/TextView: setTypeface with style : 0
D/TextView: setTypeface with style : 0
D/org.edx.mobile.util.NetworkUtil: Wifi is connected
D/OkHttp: --> POST http://my-domain/oauth2/login/
    Content-Length: 0
    User-Agent: Dalvik/2.1.0 (Linux; U; Android 6.0.1; SM-G900H Build/MMB29K) maarefonline/org.edx.mobile/2.20.2
D/OkH

[2020-04-20 18:45] gitmalux commented on #1396
problem solved, thanks all
i suggest this solution
[https://community.bitnami.com/t/unable-to-load-course-openedx-ios-spinning-endlessly-on-viewing-html-block/66694/4](url)

[2020-04-21 03:17] nadheemabdulla commented on #1396
Thank you so much !
Would you let me know where and what I should comment out -  ( Since I don't have much technical knowledge )

[2020-04-21 11:16] gitmalux commented on #1396
To solve this, you need to comment out some of the code in /opt/bitnami/apps/edx/edx-platform/openedx/core/djangoapps/auth_exchange/views.py

find lines with something like this:

`if not self._is_grant_password(request.auth):
            raise AuthenticationFailed({
                u'error_code': u'non_supported_token',
                u'developer_message': u'Only support DOT type access token wi

[2020-04-21 11:59] HiroshiTsu opened #1403 "Connection error in Courses tab"
OS: Android 9.0 , sharp 4gb memory
When initialize the app it displays in the Courses tab: connection error, please confirm your internet connection.

But in the Discovery tab there are no problems.

[2020-04-21 15:18] miankhalid commented on #1403
Is this happening on our edX's PlayStore app?
https://play.google.com/store/apps/details?id=org.edx.mobile&hl=en

[2020-04-21 18:05] nadheemabdulla commented on #1396
I saw this solution on the link. but I don't see such a python script or folder structure with the master version downloaded from here. Can you please clarify

[2020-04-24 13:32] gitmalux commented on #1396
this directory is on the edx-server not on android app
/opt/bitnami/apps/edx/edx-platform/openedx/core/djangoapps/auth_exchange/views.py

[2020-04-25 04:20] nadheemabdulla commented on #1396
I use tutor and I don't see it anywhere :-(

[2020-04-25 07:41] gitmalux commented on #1396
sorry but i have no idea how if goes using tutor, am using bitnami, but i think they are similar in the content of the platform, does your edx-platform full path looks like this: /opt/bitnami/apps/edx/edx-platform ??

[2020-04-30 10:22] nadheemabdulla commented on #1396
@miankhalid I couldn't find :-(
Any idea how to solve this ?

[2020-04-30 10:59] nadheemabdulla commented on #1403
@HiroshiTsu are the videos working fine ?
I have almost similar issue. My videos are working fine, all other html blocks are not loading and showing up " connection error"

[2020-04-30 11:56] HiroshiTsu commented on #1403
Is this happening on our edX's PlayStore app?　Yes

[2020-04-30 11:56] HiroshiTsu commented on #1403
http://k-tai.sharp.co.jp/support/r/aquos-sense3-lite-r/manual/index.html

[2020-04-30 16:03] miankhalid commented on #1396
You should get in touch with a Backend / DevOps engineer on your team to look into this issue. Otherwise, get in touch with the folks at tutor maybe.

Closing this issue as its not an app specific problem rather a configuration issue on the backend.

[2020-04-30 16:03] #1396 closed

[2020-04-30 16:05] miankhalid commented on #1403
We've tested this on our end and haven't found such an issue neither has it been reported by our learners.

What's this?

[2020-05-08 12:28] Bnsl-shbm opened #1410 "Not able to load authenticated block"
I am not able to load authenticated quiz question as part of course as it is giving 404. I can see on server logs that it is not passing session data. Any idea about how to fix this?

[2020-05-08 12:31] miankhalid commented on #1410
Seems like you are facing the same issue as #1396.

Check to see if the solution given in this comment fixes the issue on your end as well: https://github.com/edx/edx-app-android/issues/1396#issuecomment-616740176.

[2020-05-12 13:49] Seneca-Sys opened #1411 "SSLHandshakeException, CertPathValidatorException, Trust anchor for certification path not found."
Hi All,

I have built and launched the edx android app as per the readme instructions. However i have ran into one problem when trying to login or register using the app. I get the following error log:

[code]

I believe this issue was initially raised on stackoverflow by another user : https://stackoverflow.com/questions/59487923/org-edx-mobile-view-registeractivity-javax-net-ssl-sslhandshakeexce

[2020-05-14 15:05] vicky0802 opened #1412 "Crashlytics initialize Issue"
Please check below image
<img width="933" alt="Screenshot 2020-05-14 at 8 18 53 PM" src="https://user-images.githubusercontent.com/65354309/81950947-34604400-9622-11ea-8473-eb07f6ba2936.png">

I set config file as shown in image while I build application and run in mobile got error like below image.

<img width="1255" alt="Screenshot 2020-05-14 at 8 18 08 PM" src="https://user-images.githubusercon

[2020-05-16 16:21] Aero-geek commented on #1412
The sdk needs updating due to the switch from Fabric to Firebase. I've got this on my list of things to do but might be a while before i get to it. You can make the updates on your own instance

[2020-05-18 06:36] farhan-arshad-dev commented on #1412
@vicky0802
Currently, our app depends on Fabric’s SDK as well (which has been) deprecated recently to initialize Firebase - Crashlytics which is why this exception is being thrown.

We’ll be updating our Firebase SDK in the next few weeks which solves this problem. Or if you want, you can do the update and push an upstream PR. Happy to review an OSPR doing this!

[2020-05-18 13:10] ogaroh commented on #1403
Did you find a fix for this?

[2020-05-18 13:16] miankhalid commented on #1403
@HiroshiTsu @ogaroh Try adding/editing this in your configs:
[code]

[2020-05-19 09:41] OlegarioLopez commented on #1403
Same issue here.

![Alt Text](https://im7.ezgif.com/tmp/ezgif-7-14fc48b1a206.gif)

In my file ../course/CourseService.java I´ve changed every lane that contains
`/api/mobile/v1/users/..
`
for

`/api/mobile/v0.5/users/`

I need that change in order to get the Courses because we are using a previous versión of backend.

I´ve tried adding this but nothing changed
`API_URL_VERSION:
        BLOCKS: 'v1

[2020-05-21 08:43] imdineshsingh opened #1415 "Caused by: org.gradle.api.resources.MissingResourceException: Could not read script 'C:\DineshSingh\studybytech\edx-app-android\ExoPlayer\core_settings.gradle' as it does not exist."
Caused by: org.gradle.api.resources.MissingResourceException: Could not read script 'C:\DineshSingh\studybytech\edx-app-android\ExoPlayer\core_settings.gradle' as it does not exist.

getting this issue with android studio 3.6.1
![image](https://user-images.githubusercontent.com/25577586/82553094-05495580-9b81-11ea-974a-10cee191ffdb.png)

[2020-05-22 15:51] farhan-arshad-dev commented on #1415
ExoPlayer module is removed in support of ExoPlayer Gradle dependency while [Migrate to ExoPlayer](https://github.com/edx/edx-app-android/pull/1227).

[2020-05-24 21:54] akshayaurora commented on #1275
@miankhalid thanks to the link, the issue is solved by creating a application on the admin panel, please re-open this issue until this is fixed in documentation. The doc is still not updated [here](https://github.com/edx/edx-documentation/blob/233dcb93f8a4fbea4788cefe1793128b6837d737/en_us/install_operations/source/mobile.rst) .

The way it is fixed according to the linked post on slack::
- Goto h

[2020-05-26 19:15] Aero-geek commented on #1411
Did you manage to resolve this? I'm experiencing the same issue on some devices i'm using to test the system. It works on some devices and not on others

[2020-05-27 06:27] OlegarioLopez opened #1417 "app doesn´t connect with a backend with http, only https backends servers allowed"
Since I updated from versión 2.20.7 to 2.21.0 I´m not able to connect with my edx backend server, just because it is an http server, but in versions 2.20.7 and previous I had no problems.

![Screenshot_1](https://user-images.githubusercontent.com/22029014/82985132-c2a9d200-9ff3-11ea-8635-f7c63988da4c.png)

Any suggestion to solve this issue in 2.21.x versions?

LOG message:
`2020-05-27 08:21:30.65

[2020-05-27 09:17] OlegarioLopez commented on #1417
OK I found the solution [ClearText in android 9](https://medium.com/@son.rommer/fix-cleartext-traffic-error-in-android-9-pie-2f4e9e2235e6)

[2020-05-27 20:35] Aero-geek commented on #1411
so from what i gather android 7 has an issue with elliptic curve certificates and there is some sort of workaround for this tho it affects the security. Check this out might be of use to you
https://community.letsencrypt.org/t/warning-android-7-0-clients-not-browsers-can-only-use-curve-prime256v1/23212

https://community.openhab.org/t/solved-openhab-android-app-ssl-handshake/46811/2

[2020-05-28 14:57] miankhalid commented on #1275
@akshayaurora yes! that is the correct way. Thanks for sharing.

I'll look into getting the docs updated, thanks for sharing the link.

[2020-05-28 15:14] miankhalid commented on #1417
Great! reopen if this is still an issue.

[2020-05-28 15:14] #1417 closed

[2020-06-05 07:23] OlegarioLopez commented on #1411
Are you using an VPN? I had the same error and solved it just disconnecting VPN

[2020-06-05 07:28] OlegarioLopez opened #1420 "BUG when you rotate the device twice while watching a youtube video"
If you are watching a youtube video in vertical, and rotate to horizontal it works, the video also rotate, if you rotate again de device to vertical, the video rotate to vertical as expected, but automatically it rotates again to horizontal and in some device the app gets freezed.

[2020-06-05 07:30] Aero-geek commented on #1411
No I’m not on a vpn. I’ve been digging around and it’s something to do with android 7.0 and how it handles ssl certificates and the elliptic curves it supports the prime 256v1. The solution is to configure the server to accept this curve or downgrade to connections that don’t utilise curves

Sent from my iPhone

[2020-06-05 07:59] miankhalid commented on #1420
We have this issue logged in our JIRA backlog:
https://openedx.atlassian.net/browse/LEARNER-7729

can't give a timeline as to when it will be fixed but we're always willing to review an OSPR if you are willing to take a stab at it.

[2020-06-07 06:17] imdineshsingh opened #1421 "Error inflating class com.google.android.exoplayer2.ui.PlayerView"
android.view.InflateException: Binary XML file line #30: Binary XML file line #30: Error inflating class com.google.android.exoplayer2.ui.PlayerView
    Caused by: android.view.InflateException: Binary XML file line #30: Error inflating class com.google.android.exoplayer2.ui.PlayerView
    Caused by: java.lang.reflect.InvocationTargetException

Getting this issue while trying to open videos with a

[2020-06-10 04:27] vinayaravindran commented on #1411
Hi,

I am facing the same issue. How to resolve this **SSLHandshakeException, CertPathValidatorException, Trust anchor for certification path not found.**

Anybody please provide me with the solution.

Thanks in advance.

[2020-06-11 14:33] farhan-arshad-dev commented on #1421
@imdineshsingh We are unable to reproduce this issue, need more following information
- Java version using in your code.
- Panel player layout.
- Exoplayer library version using in your code.

[2020-06-15 10:55] Seneca-Sys commented on #1411
The way i managed to get around it was through this: https://stackoverflow.com/questions/2642777/trusting-all-certificates-using-httpclient-over-https/6378872#6378872

https://developer.android.com/training/articles/security-config, this will help you configure the access through the ssl. as long as you don't change the domain, the certificate generated will not change, so it can be used for as lo

[2020-06-15 10:56] #1411 closed

[2020-06-25 08:39] chiragmittal19 opened #1429 "Caching in AuthenticatedWebView"
It'll be good to have an option to allow caching in `AuthenticatedWebView`.

[2020-07-01 10:58] #1410 closed

[2020-07-06 09:27] farhan-arshad-dev commented on #1429
@chiragmittal19 thanks for mentioning this option, we already have this task in our queue as Jira Story [LEARNER-7230](https://openedx.atlassian.net/browse/LEARNER-7230)

[2020-07-15 04:49] fauziasf opened #1437 "Could not find method leftShift()"
i have this error code color goes red at build.gradle (:OpenExXMobile)
at code line number 1

`import org.edx.builder.TaskHelper`

Could not find method leftShift() for arguments [org.edx.builder.AppPlugin$_addTasks_closure2@602112d6] on task ':OpenEdXMobile:printConfigPath' of type org.gradle.api.DefaultTask

please help me i couldnt finish the gradle..?

[2020-07-15 08:21] farhan-arshad-dev commented on #1437
@fauziasf
Now `edx-app-android` using Gradle `v5.+`, that removes the support of `leftShift()` method, you can use the alternate method named [`doLast`](https://docs.gradle.org/current/userguide/upgrading_version_4.html#changes_5.0).

[2020-07-15 10:09] fauziasf commented on #1437
i couldnt find any leftshift() in my code, can you help me?

[2020-07-15 13:59] farhan-arshad-dev commented on #1437
Left shift means `<<`. So search for `<<` in the code.
As a side note, if you check out our latest `master` branch you shouldn't face/see this issue as we fixed it quite a while back i.e. replace all occurrences of left shift operator with `doLast` method.

[2020-07-16 04:52] fauziasf opened #1439 "java.lang.IllegalStateException: Not a JSON Object"
it happened when i entered the course & discovery menu
can you help me??

[2020-07-16 04:53] fauziasf commented on #1437
ok im done

[2020-07-16 04:53] fauziasf commented on #1437
ok im done

[2020-07-16 04:53] #1437 closed

[2020-07-17 08:01] omerhabib26 commented on #1439
Can u please share the logcat?

[2020-07-19 07:42] fauziasf commented on #1439
this is the logcat:

`2020-07-19 14:42:04.443 29361-29361/id.ac.atmajaya.atmazeds E/org.edx.mobile.util.images.ErrorUtils: java.lang.IllegalStateException: Not a JSON Object: [{"blocks_url":"https://atmazeds.atmajaya.ac.id/api/courses/v1/blocks/?course_id=course-v1%3AAtmaZeds%2BCLD211.2x%2B2018_T4","effort":"Total 27 to 45 hours","end":"2030-01-02T00:00:00Z","enrollment_start":"2019-01-01T00:00:00

[2020-07-20 07:52] miankhalid commented on #1439
The exception is saying that you are providing something other than a JSON Object where a JSON Object is expected and in your case whatever API you are hitting is returning a JSON Array instead.

Fix that and everything should work fine.

[2020-07-21 06:20] fauziasf commented on #1439
where can i change this JSONArray to JSONObject? in which code file and which line?

[2020-07-21 07:24] farhan-arshad-dev commented on #1439
@fauziasf As you can see in your mentioned **JSON** that starts with `[` that represents **JSON Array** and as per exception logs code expected **JSON object** instated of **JSON Array**

[2020-07-21 07:47] fauziasf commented on #1439
any suggestion what should i do since this response is officially from openEDX?

[2020-08-10 04:21] fauziasf opened #1448 "Microsoft Login azuread-oauth2 header"
i'm trying to hit API '/oauth2/exchange_access_token/azuread-oauth2/' with different headers
currently the header of the 'Content-Type' = 'application/x-www-form-urlencoded'
i need to change it to  'Content-Type' = 'application/json'
i tried to add the code
` builder.addHeader("Content-Type", "application/json");`
in the OauthHeaderRequestInterceptor.java at line 35 butt the headers still  'Conten

[2020-10-06 04:28] nadheemabdulla opened #1467 "Randomised content block - Remove "View on Web" Message"
When we add MCQs as a Randomised content block, it displays well inside the android app.
For eg. I created a question library and added it to a course, to display 2 random questions. the questions are displayed on mobile, and students can complete this exercise.
But before displaying the question, a message ['this interactive element is not available on mobile'](https://slack-files.com/T02SNA1T6-F

[2020-10-06 06:39] farhan-arshad-dev commented on #1467
@nadheemabdulla Please share the steps on how you create the particular component on the studio that shows ['this interactive element is not available on mobile'](https://slack-files.com/T02SNA1T6-F01CDES5GMP-31342310d3).

**Note**: The component is not supported by the app, check the [CourseUnitPagerAdapter.java#L90](https://github.com/edx/edx-app-android/blob/master/OpenEdXMobile/src/main/java/o

[2020-10-06 07:28] nadheemabdulla commented on #1467
Steps to create :
1. In studio - Create a New library
2. Add Component > Problem > Multiple Choice
3. Add 5 Multiple choice questions.
4.  Create ( or open an existing ) course > Go to Advanced Settings > Add  "library_content" to Advanced Module List > Save Changes
5.  Create a new unit > Click Advanced in Add New Component section > Select 'Randomized Content Block'
6.  Select a library > Give c

[2020-11-03 11:57] winnochan opened #1476 "HMS support for HUAWEI's phones"
Can you support HUAWEI's HMS core and upload app to HUAWEI's AppGallery.

[2021-05-20 14:19] winnochan opened #1545 "HarmonyOS support!"
Will edx-app support HUAWEI's HarmonyOS?

[2021-05-27 08:18] miankhalid commented on #1545
Sorry! no plans for now.

[2021-05-27 08:18] #1545 closed

[2021-05-27 08:18] miankhalid commented on #1476
Sorry! no plans for now.

[2021-05-27 08:18] #1476 closed

[2021-10-09 18:24] itsartemis opened #1596 "Why EDX videos are disappearing?"
I can't seem to open EDX videso. The moment I open the lecture video, it appears for 1/2 second and disappears, leaving me with blank page with only arrows that says Next & Pervious. Anyone  with same problem and know how to fix the problem?

[2021-10-12 09:55] itsartemis commented on #1596
Does not give an error on window, just disappearance.

[2021-10-13 05:43] itsartemis commented on #1596
<img width="1037" alt="Screenshot 2021-10-13 at 08 42 40" src="https://user-images.githubusercontent.com/64968546/137073994-1a6c5958-8e98-4677-89fa-b9069ec9e86e.png">

[2021-10-13 05:47] itsartemis commented on #1596
<img width="1024" alt="Screenshot 2021-10-13 at 08 46 46" src="https://user-images.githubusercontent.com/64968546/137074375-173703e6-c7f5-4bd0-bd87-25f6b703680b.png">

[2022-02-23 06:57] yogskumar commented on #1165
Hi All,

This was one of the major issues for the ionic/android app

Please follow the below steps.

1) Remove/Delete node-module from root folder
2) npm uninstall cordova-android
3) npm install cordova-android@10.1.1
4) Now remove android platform using: ionic cordova rm platform android
5) Now add platform : ionic cordova platform add android
6) Build Android Project : ionic cordova build androi

[2022-04-07 21:21] Ian2012 opened #1653 "Lint issues on building for release"
When I run `./gradlew assembleProdRelease`  I get the following errors:

/home/cristhian_g/eduNEXT/eduNEXT-code/edx-app-android/OpenEdXMobile/src/main/java/org/edx/mobile/viewModel/CourseDateViewModel.kt:113: Error: Cannot set non-nullable LiveData value to null [NullSafeMutableLiveData from jetified-lifecycle-livedata-core-ktx-2.3.0]
        _errorMessage.value = null
[code]
/home/cristhian_g/edu

[2022-04-13 06:17] mini-school commented on #1653
Hi @Ian2012

I think you are on a master branch.
I tried that too for a reason it uses AGP 7.0.2 and hilt dependencies.

And I faced same issue while trying to build prod release.

I assume what's happening here is we are taking a big leap in this app and this might have caused due to upgrade in kotlin so what i did is i added null safe asserted on all of this declaration. How do you do that? Go t

[2022-04-13 12:48] Ian2012 commented on #1653
@mini-school Thanks for your comments. I tried to change the version but unfortunately the same error appear and the version was the same.

For me it works if I use the menu Build > Build variants > Bundle (something like that). It works for every variant (prodDebugable, prodRelease, ...)

I also added a null checking on every part the error appear, but then the command show the message "Build suc

[2022-04-16 16:15] mini-school commented on #1653
Where are you changing version?

I would say download a tag/release 3.1.0 from the repository. Use this link https://github.com/openedx/edx-app-android/releases/tag/release%2F3.1.0

Make the changes needed and you will be able to build without a problem😊

[2022-07-25 07:04] HamzaIsrar12 commented on #1314
The bug wasn't reproducible, so it is likely a device-specific issue.
Please upgrade to the latest version `3.1.0`.

[2022-07-25 07:04] #1314 closed

[2022-07-25 07:14] HamzaIsrar12 commented on #1386
The issue seems to be resolved.
Plus we are using the current latest version `Android Studio Chipmunk | 2021.2.1`.

[2022-07-25 07:14] #1386 closed

[2022-07-25 07:18] HamzaIsrar12 commented on #1403
The issue seems to be resolved. ✨

[2022-07-25 07:18] #1403 closed

[2022-07-25 07:19] HamzaIsrar12 commented on #1415
The issues seem to be resolved but feel free to open a new one if the issue still persists for you.

[2022-07-25 07:19] #1415 closed

[2022-07-25 09:17] HamzaIsrar12 commented on #1596
Closing the issue because the issue seems to be related to edX web.

[2022-07-25 09:17] #1596 closed

[2022-07-25 09:19] HamzaIsrar12 commented on #1420
We will prioritize the ticket related to this bug in the upcoming sprint. 👍

[2022-07-25 09:19] #1420 closed

[2022-07-25 09:22] #1429 closed

[2022-07-25 09:28] HamzaIsrar12 commented on #1412
The issue seems to be resolved now. ✨

[2022-07-25 09:28] #1412 closed

[2022-07-25 09:31] HamzaIsrar12 commented on #1421
I'm closing this issue due to a lack of information. Feel free to open another one if the error persists for you.

[2022-07-25 09:31] #1421 closed

[2022-09-08 07:44] HamzaIsrar12 commented on #1653
The issue is resolved as part of the [Release 3.1.4](https://github.com/openedx/edx-app-android/releases/tag/release%2F3.1.4) (latest). ✨

[2022-09-08 07:44] #1653 closed

[2022-09-08 10:47] HamzaIsrar12 commented on #947
The enrollment api v1 (`/api/mobile/v1/users/{username}/course_enrollments`) was implemented as part of this [PR-1179](https://github.com/openedx/edx-app-android/pull/1179) and was available for all releases moving forward.

[2022-09-08 10:47] #947 closed